Repository BrianCLong/summit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @platform-eng, @secops, @sre-team, @legal

.github/CODEOWNERS:

# Critical CODEOWNERS surfaces
/gateway/**        @platform-eng @secops
/policies/**       @secops
/stream/**         @platform-eng
/infra/**          @sre-team
/docs/compliance/** @secops @legal

🌌 TRANSCENDENCE MARKERS: Beyond Physical Reality 🌌
  TRANSCENDENCE_MARKERS.md
Owners: none

🌌 TRANSCENDENCE MARKERS: Beyond Physical Reality 🌌
  TRANSCENDENCE_MARKERS.md
Owners: none

test: add smart wait helper for playwright tests
  client/tests/e2e/persisted-queries-ws.spec.ts
  client/tests/e2e/subscriptions.spec.ts
  client/tests/e2e/utils/wait.ts
Owners: none

test: add smart wait helper for playwright tests
  client/tests/e2e/persisted-queries-ws.spec.ts
  client/tests/e2e/subscriptions.spec.ts
  client/tests/e2e/utils/wait.ts
Owners: none

chore: restore package-lock.json
  config/experiments.yaml
  docs/experimentation.md
  scripts/experiment-report.py
  server/package.json
  server/src/experimentation/example.ts
  server/src/experimentation/experiment.test.ts
  server/src/experimentation/index.ts
Owners: none

chore: restore package-lock.json
  config/experiments.yaml
  docs/experimentation.md
  scripts/experiment-report.py
  server/package.json
  server/src/experimentation/example.ts
  server/src/experimentation/experiment.test.ts
  server/src/experimentation/index.ts
Owners: none

refactor: remove lockfile from rapid service
  .github/workflows/rapid-service.yml
  services/rapid-service/.gitignore
  services/rapid-service/Dockerfile
  services/rapid-service/Makefile
  services/rapid-service/jest.config.js
  services/rapid-service/openapi.yaml
  services/rapid-service/package.json
  services/rapid-service/seed.js
  services/rapid-service/src/config.js
  services/rapid-service/src/index.js
  services/rapid-service/src/logger.js
  services/rapid-service/test/health.test.js
Owners: none

refactor: remove lockfile from rapid service
  .github/workflows/rapid-service.yml
  services/rapid-service/.gitignore
  services/rapid-service/Dockerfile
  services/rapid-service/Makefile
  services/rapid-service/jest.config.js
  services/rapid-service/openapi.yaml
  services/rapid-service/package.json
  services/rapid-service/seed.js
  services/rapid-service/src/config.js
  services/rapid-service/src/index.js
  services/rapid-service/src/logger.js
  services/rapid-service/test/health.test.js
Owners: none

feat: add sdk service endpoints
  server/src/app.ts
  server/src/appFactory.ts
  server/src/routes/sdk.ts
  server/tests/sdkRoutes.test.ts
Owners: none

feat: add sdk service endpoints
  server/src/app.ts
  server/src/appFactory.ts
  server/src/routes/sdk.ts
  server/tests/sdkRoutes.test.ts
Owners: none

chore(gateway): ignore package locks
  .github/workflows/gateway-bff.yml
  gateway/graphql-bff/.eslintrc.cjs
  gateway/graphql-bff/.gitignore
  gateway/graphql-bff/__tests__/contract.test.ts
  gateway/graphql-bff/__tests__/security.test.ts
  gateway/graphql-bff/package.json
  gateway/graphql-bff/src/index.ts
  gateway/graphql-bff/subgraphs.yaml
  gateway/graphql-bff/tsconfig.json
  ops/gateway/Chart.yaml
  ops/gateway/envoy.yaml
  ops/gateway/templates/deployment.yaml
  ops/gateway/templates/service.yaml
  ops/gateway/values.yaml
  packages/sdk/gateway-js/.eslintrc.cjs
  packages/sdk/gateway-js/.gitignore
  packages/sdk/gateway-js/package.json
  packages/sdk/gateway-js/src/index.test.ts
  packages/sdk/gateway-js/src/index.ts
  packages/sdk/gateway-js/tsconfig.json
Owners: @platform-eng, @secops

chore(gateway): ignore package locks
  .github/workflows/gateway-bff.yml
  gateway/graphql-bff/.eslintrc.cjs
  gateway/graphql-bff/.gitignore
  gateway/graphql-bff/__tests__/contract.test.ts
  gateway/graphql-bff/__tests__/security.test.ts
  gateway/graphql-bff/package.json
  gateway/graphql-bff/src/index.ts
  gateway/graphql-bff/subgraphs.yaml
  gateway/graphql-bff/tsconfig.json
  ops/gateway/Chart.yaml
  ops/gateway/envoy.yaml
  ops/gateway/templates/deployment.yaml
  ops/gateway/templates/service.yaml
  ops/gateway/values.yaml
  packages/sdk/gateway-js/.eslintrc.cjs
  packages/sdk/gateway-js/.gitignore
  packages/sdk/gateway-js/package.json
  packages/sdk/gateway-js/src/index.test.ts
  packages/sdk/gateway-js/src/index.ts
  packages/sdk/gateway-js/tsconfig.json
Owners: @platform-eng, @secops

feat: scaffold tenant admin service and sdk
  apps/web/src/features/org-admin/OrgAdminSettings.jsx
  apps/web/src/features/org-admin/OrgAdminSettings.test.jsx
  ops/tenant/README.md
  ops/tenant/idp-metadata.xml
  ops/tenant/scim-mapping.json
  packages/sdk/tenant-js/index.js
  packages/sdk/tenant-js/index.test.js
  packages/sdk/tenant-js/package.json
  services/tenant-admin/index.js
  services/tenant-admin/index.test.js
  services/tenant-admin/package.json
Owners: none

feat: scaffold tenant admin service and sdk
  apps/web/src/features/org-admin/OrgAdminSettings.jsx
  apps/web/src/features/org-admin/OrgAdminSettings.test.jsx
  ops/tenant/README.md
  ops/tenant/idp-metadata.xml
  ops/tenant/scim-mapping.json
  packages/sdk/tenant-js/index.js
  packages/sdk/tenant-js/index.test.js
  packages/sdk/tenant-js/package.json
  services/tenant-admin/index.js
  services/tenant-admin/index.test.js
  services/tenant-admin/package.json
Owners: none

feat: add forge hermetic build workflow
  .github/workflows/forge-ci.yml
  forge
Owners: none

feat: add forge hermetic build workflow
  .github/workflows/forge-ci.yml
  forge
Owners: none

docs: expand security action plan
  docs/SECURITY_ACTION_PLAN.md
  docs/THREAT_MODEL.md
Owners: none

docs: expand security action plan
  docs/SECURITY_ACTION_PLAN.md
  docs/THREAT_MODEL.md
Owners: none

docs: outline provenance ledger architecture
  docs/architecture/prov-ledger.md
Owners: none

docs: outline provenance ledger architecture
  docs/architecture/prov-ledger.md
Owners: none

feat: add NL to Cypher service stub
  server/src/ai/nl-to-cypher/model-adapter.ts
  server/src/ai/nl-to-cypher/nl-to-cypher.service.ts
  server/tests/nl-to-cypher.service.test.ts
Owners: none

feat: add NL to Cypher service stub
  server/src/ai/nl-to-cypher/model-adapter.ts
  server/src/ai/nl-to-cypher/nl-to-cypher.service.ts
  server/tests/nl-to-cypher.service.test.ts
Owners: none

feat: add real-time streaming skeleton
  streaming/README.md
  streaming/alerts-api/package.json
  streaming/alerts-api/src/index.ts
  streaming/ingest-gw/package.json
  streaming/ingest-gw/src/index.ts
  streaming/stream-jobs/build.gradle.kts
  streaming/stream-jobs/src/main/kotlin/Topology.kt
Owners: none

feat: add real-time streaming skeleton
  streaming/README.md
  streaming/alerts-api/package.json
  streaming/alerts-api/src/index.ts
  streaming/ingest-gw/package.json
  streaming/ingest-gw/src/index.ts
  streaming/stream-jobs/build.gradle.kts
  streaming/stream-jobs/src/main/kotlin/Topology.kt
Owners: none

feat: add privacy tokenization and differential privacy stubs
  docs/privacy.md
  services/privacy/src/differentialPrivacy.ts
  services/privacy/src/index.ts
  services/privacy/src/tokenization.ts
Owners: none

feat: add privacy tokenization and differential privacy stubs
  docs/privacy.md
  services/privacy/src/differentialPrivacy.ts
  services/privacy/src/index.ts
  services/privacy/src/tokenization.ts
Owners: none

feat: scaffold entity resolution service
  client/src/features/er-console/index.tsx
  connectors/README.md
  server/src/graphql/resolvers/erResolvers.ts
  server/src/graphql/resolvers/index.ts
  server/src/graphql/schema-combined.ts
  server/src/graphql/schema.js
  server/src/graphql/types/erTypes.ts
  services/er/__init__.py
  services/er/blocking.py
  services/er/cli.py
  services/er/scoring.py
Owners: none

feat: add supply chain security pipeline
  .github/workflows/release.yml
  docs/supply-chain.md
  infra/policy/required-signatures.rego
  tools/trustctl/trustctl.js
Owners: @sre-team

feat: add collaboration stubs
  client/src/features/collab/PresenceAvatars.test.tsx
  client/src/features/collab/PresenceAvatars.tsx
  client/src/features/collab/index.ts
  server/src/graphql/resolvers-combined.ts
  server/src/graphql/resolvers.collab.js
  server/src/graphql/schema-combined.ts
  server/src/graphql/schema.collab.js
  server/tests/collab.resolvers.test.ts
  services/collab/README.md
  services/collab/src/index.ts
Owners: none

feat: add collaboration stubs
  client/src/features/collab/PresenceAvatars.test.tsx
  client/src/features/collab/PresenceAvatars.tsx
  client/src/features/collab/index.ts
  server/src/graphql/resolvers-combined.ts
  server/src/graphql/resolvers.collab.js
  server/src/graphql/schema-combined.ts
  server/src/graphql/schema.collab.js
  server/tests/collab.resolvers.test.ts
  services/collab/README.md
  services/collab/src/index.ts
Owners: none

feat: add governance stubs and middleware
  server/src/app.ts
  server/src/middleware/governance.ts
  server/src/routes/governance.ts
  server/tests/governance.test.ts
Owners: none

feat: add AI copilot query and rag service
  services/ai-copilot/demo.ipynb
  services/ai-copilot/src/main.py
  services/ai-copilot/tests/test_copilot.py
Owners: none

feat: add AI copilot query and rag service
  services/ai-copilot/demo.ipynb
  services/ai-copilot/src/main.py
  services/ai-copilot/tests/test_copilot.py
Owners: none

feat: add manifest verification CLI
  prov-ledger/app/manifest.py
  prov-ledger/docs/example_manifest.json
  prov-ledger/tests/test_manifest_cli.py
Owners: none

feat: add manifest verification CLI
  prov-ledger/app/manifest.py
  prov-ledger/docs/example_manifest.json
  prov-ledger/tests/test_manifest_cli.py
Owners: none

feat: add cost guard and observability stubs
  docs/ops/runbooks/chaos-drill.md
  helm/monitoring/README.md
  ops/telemetry/README.md
  ops/telemetry/slo-dashboard.json
  reliability-service/archive_tiering.py
  reliability-service/main.py
  reliability-service/requirements.txt
  server/src/app.ts
  server/src/middleware/queryBudgeter.ts
  server/src/middleware/slowQueryKiller.ts
Owners: none

feat: add tri-pane explorer with keyboard navigation
  client/src/App.jsx
  client/src/features/explorer/Explorer.jsx
  client/src/features/explorer/ExplorerContext.js
  client/src/features/explorer/GraphPane.jsx
  client/src/features/explorer/MapPane.jsx
  client/src/features/explorer/TimelinePane.jsx
  client/src/features/explorer/data.js
Owners: none

feat: add tri-pane explorer with keyboard navigation
  client/src/App.jsx
  client/src/features/explorer/Explorer.jsx
  client/src/features/explorer/ExplorerContext.js
  client/src/features/explorer/GraphPane.jsx
  client/src/features/explorer/MapPane.jsx
  client/src/features/explorer/TimelinePane.jsx
  client/src/features/explorer/data.js
Owners: none

feat: scaffold hypothesis workbench
  client/src/features/hypotheses/components/HypothesisWorkbench.tsx
  client/src/features/hypotheses/store.test.ts
  client/src/features/hypotheses/store.ts
  client/src/features/reports/NarrativeBuilder.test.tsx
  client/src/features/reports/NarrativeBuilder.tsx
  server/src/hypotheses/index.ts
  server/tests/hypotheses.test.ts
Owners: none

feat: scaffold hypothesis workbench
  client/src/features/hypotheses/components/HypothesisWorkbench.tsx
  client/src/features/hypotheses/store.test.ts
  client/src/features/hypotheses/store.ts
  client/src/features/reports/NarrativeBuilder.test.tsx
  client/src/features/reports/NarrativeBuilder.tsx
  server/src/hypotheses/index.ts
  server/tests/hypotheses.test.ts
Owners: none
