Repository BrianCLong/summit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @intelgraph-devops-team, @BrianCLong, @intelgraph-frontend-team, @intelgraph-backend-team

.github/CODEOWNERS:

# CODEOWNERS - Code ownership and review requirements
#
# This file defines ownership for high-contention files and critical paths.
# Owners are automatically requested for review when PRs modify these files.
#
# Updated: 2025-10-14 (merge train optimization)
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# =============================================================================
# Critical Infrastructure (require DevOps team approval)
# =============================================================================

# CI/CD Workflows - high contention, breaking changes affect all PRs
/.github/workflows/                          @intelgraph-devops-team @BrianCLong
/.github/workflows/_reusable-ci-fast.yml     @intelgraph-devops-team @BrianCLong
/.github/workflows/lane-integration.yml      @intelgraph-devops-team @BrianCLong
/.github/workflows/ci-comprehensive.yml      @intelgraph-devops-team @BrianCLong

# Root configuration files - require careful review to avoid breakage
/package.json                                @intelgraph-devops-team @BrianCLong
/package-lock.json                           @intelgraph-devops-team
/pnpm-lock.yaml                              @intelgraph-devops-team
/tsconfig.json                               @intelgraph-devops-team
/.eslintrc*                                  @intelgraph-devops-team
/.prettierrc*                                @intelgraph-devops-team

# =============================================================================
# Application Code (team-specific)
# =============================================================================

# Frontend
/client/                                     @intelgraph-frontend-team

# Backend
/server/                                     @intelgraph-backend-team

# =============================================================================
# Hot Files (TODO: Update from conflict-hotspot-report.sh)
# =============================================================================
# Run `scripts/conflict-hotspot-report.sh` weekly to identify new hotspots
# Add entries here for files changed >50 times in 90 days

# Example patterns:
# /apps/web/src/components/common/          @intelgraph-frontend-team
# /apps/api/src/routes/                     @intelgraph-backend-team

# =============================================================================
# Documentation & Process
# =============================================================================

/README.md                                   @BrianCLong
/docs/                                       @BrianCLong
/CONTRIBUTING.md                             @BrianCLong
/docs/merge-train-runbook.md                 @intelgraph-devops-team @BrianCLong

# =============================================================================
# Scripts & Automation (merge train maintenance)
# =============================================================================

/scripts/                                    @intelgraph-devops-team @BrianCLong
/scripts/merge-train.sh                      @intelgraph-devops-team @BrianCLong
/scripts/triage-conflicting-prs.sh           @intelgraph-devops-team @BrianCLong
/scripts/conflict-hotspot-report.sh          @intelgraph-devops-team @BrianCLong

# =============================================================================
# Security-sensitive files (require security review)
# =============================================================================

/.github/workflows/*deploy*.yml              @intelgraph-devops-team @BrianCLong
/.github/workflows/*release*.yml             @intelgraph-devops-team @BrianCLong
/ops/                                        @intelgraph-devops-team

ops(merge-train): add Makefile, health dashboard, and nightly monitoring
  .github/workflows/merge-train-health.yml
  Makefile.merge-train
  scripts/merge-train-health-dashboard.sh
Owners: @intelgraph-devops-team, @BrianCLong

docs(merge-train): add comprehensive README with architecture, commands, and troubleshooting
  docs/MERGE_TRAIN_README.md
Owners: @BrianCLong

feat: add kumorfm engagement scoring engine
  src/analytics/KumorFM.ts
Owners: none

docs: outline cursor and warp integration plan
  CURSOR_WARP_INTEGRATION_PLAN.md
Owners: none

docs(merge-train): add post-merge deployment guide and Slack templates
  docs/merge-train-post-merge-comment.md
Owners: @BrianCLong

fix(merge-train): guard automation for zero-state scenarios
  .github/workflows/auto-resolve-conflicts.yml
  Makefile.merge-train
  patches/merge-train-guard-fixes.patch
  scripts/conflict-hotspot-report.sh
  scripts/merge-train-health-dashboard.sh
  scripts/tests/merge-train-zero-state.test.sh
Owners: @intelgraph-devops-team, @BrianCLong

fix(merge-train): add zero-state guards and fork PR detection
  .github/workflows/auto-resolve-conflicts.yml
  patches/merge-train-guard-fixes.patch
  scripts/merge-train-health-dashboard.sh
  scripts/tests/merge-train-zero-state.test.sh
Owners: @intelgraph-devops-team, @BrianCLong

fix(workflow): correct YAML syntax in auto-resolve-conflicts commit message
  .github/workflows/auto-resolve-conflicts.yml
Owners: @intelgraph-devops-team, @BrianCLong
