Repository BrianCLong/summit, changes with the labels that .github/labeler.yml gives for each.
All labels: ui:smoke, ops:strict, audit:strict, perf:strict

.github/labeler.yml:

ui:smoke:
  - 'apps/**'
  - '.github/k6/**'

ops:strict:
  - 'charts/**'
  - 'helm/**'
  - 'deploy/**'
  - 'infra/**'

audit:strict:
  - '**/tsconfig*.json'
  - 'pnpm-workspace.yaml'
  - 'package.json'
  - 'scripts/monorepo_heal.mjs'
  - '.github/workflows/**'

perf:strict:
  - 'apps/**'
  - 'services/**'

feat: wire provenance signing and verification (#1775)
  apps/web/public/exports/run-101/manifest.json
  apps/web/public/exports/run-101/manifest.sig
  apps/web/public/exports/run-101/public.key
  apps/web/src/data/sampleProvenance.ts
  apps/web/src/lib/provenance.ts
  apps/web/src/pages/maestro/pages/Artifacts.tsx
  apps/web/src/pages/maestro/pages/Audit.tsx
  packages/connectors/pyproject.toml
  packages/connectors/src/connectors/main.py
  packages/connectors/src/connectors/models.py
  packages/prov-ledger/package.json
  packages/prov-ledger/src/cli/verify.ts
  packages/prov-ledger/src/index.ts
  packages/sdk-py/pyproject.toml
  packages/sdk-py/src/maestro_sdk/provenance.py
  summit_helm_argocd_multiacct_pack/helm/summit/templates/provenance-secret.yaml
  summit_helm_argocd_multiacct_pack/helm/summit/values-dev.yaml
  summit_helm_argocd_multiacct_pack/helm/summit/values-prod.yaml
  summit_helm_argocd_multiacct_pack/helm/summit/values-staging.yaml
  summit_helm_argocd_multiacct_pack/helm/summit/values.yaml
Labels: ui:smoke, perf:strict

feat: MAIN-TO-GREEN Phase 1 Complete - Jest multi-project infrastructure working
  deploy_maestro.sh
Labels: none

feat: cherry-pick PR #1853 - universal PR runbook and repo hygiene
  docs/pr-runbook-card.md
Labels: none

feat: add log mirroring workflow
  .github/workflows/log-mirror.yml
Labels: audit:strict

feat: add log mirroring workflow (#1859)
  .github/workflows/log-mirror.yml
Labels: audit:strict

fix: update workflow names in log-mirror.yml
  .github/workflows/log-mirror.yml
Labels: audit:strict

test: trigger log-mirror workflow on push
  .github/workflows/log-mirror.yml
Labels: audit:strict

test: trigger log-mirror workflow on push (2)
  .github/workflows/log-mirror.yml
Labels: audit:strict

feat(docforge): add deterministic docs generator
  .gitignore
  jest.config.cjs
  package.json
  tools/docforge/__tests__/__fixtures__/broken_site/index.html
  tools/docforge/__tests__/__fixtures__/golden/adr-adr-0001-adopt-docforge.html
  tools/docforge/__tests__/__fixtures__/golden/index.html
  tools/docforge/__tests__/__fixtures__/golden/module-pcbo__engine_go.html
  tools/docforge/__tests__/__fixtures__/golden/module-src__analytics_js.html
  tools/docforge/__tests__/__fixtures__/golden/module-tools__report_py.html
  tools/docforge/__tests__/__fixtures__/golden/search-index.json
  tools/docforge/__tests__/__fixtures__/golden/sitemap.xml
  tools/docforge/__tests__/__fixtures__/golden/version-index.html
  tools/docforge/__tests__/__fixtures__/golden/versions.json
  tools/docforge/__tests__/__fixtures__/sample_repo/docs/adr/0001-use-docforge.md
  tools/docforge/__tests__/__fixtures__/sample_repo/package.json
  tools/docforge/__tests__/__fixtures__/sample_repo/pcbo/engine.go
  tools/docforge/__tests__/__fixtures__/sample_repo/src/analytics.js
  tools/docforge/__tests__/__fixtures__/sample_repo/tools/report.py
  tools/docforge/__tests__/__fixtures__/valid_site/docs/page.html
  tools/docforge/__tests__/__fixtures__/valid_site/index.html
  tools/docforge/__tests__/build.test.js
  tools/docforge/__tests__/linkcheck.test.js
  tools/docforge/cli.js
  tools/docforge/src/build.js
  tools/docforge/src/collect-adr.js
  tools/docforge/src/extractors/go.js
  tools/docforge/src/extractors/js.js
  tools/docforge/src/extractors/python.js
  tools/docforge/src/fs-utils.js
  tools/docforge/src/linkcheck.js
  tools/docforge/src/markdown.js
  tools/docforge/src/sanitizers.js
  tools/docforge/src/search.js
  tools/docforge/src/sitemap.js
  tools/docforge/src/templates.js
  tools/docforge/src/text.js
Labels: audit:strict

feat: add Gateway Tariff module
  packages/gateway-tariff/package.json
Labels: none

feat: add CRSP module
  packages/crsp/package.json
  packages/crsp/src/types.ts
Labels: none

feat: add Adaptive Tariff Learner (ATL) module
  packages/atl/package.json
  packages/atl/src/index.ts
  packages/atl/tests/atl.spec.ts
  packages/atl/tsconfig.json
Labels: audit:strict

chore: ignore binary lock artifacts
  .gitignore
  services/trr/package-lock.json
  services/trr/package.json
  services/trr/src/index.ts
  services/trr/src/ingestor.ts
  services/trr/src/policy.ts
  services/trr/src/registry.ts
  services/trr/src/scoring.ts
  services/trr/src/signer.ts
  services/trr/src/types.ts
  services/trr/tests/trr.spec.ts
  services/trr/tsconfig.json
Labels: audit:strict, perf:strict

feat: wire new modules into Agent Gateway
  packages/agent-gateway/src/dissent/gate.ts
  packages/agent-gateway/src/export/lreg.ts
  packages/agent-gateway/src/ingest/pipeline.ts
  packages/agent-gateway/src/middleware/tariff.ts
Labels: none

fix: resolve typecheck blockers and add shims
  client/src/components/graph/AdvancedGraphView.jsx
  client/src/components/graph/CytoscapeGraph.jsx
  server/src/migrations/017_v17_wasm_plugins_integrity.ts
  server/src/migrations/020_v110_confcompute_privacy.ts
  server/src/types/shims.d.ts
  server/src/workers/enrichment.ts
Labels: none

feat: implement pnpm CI + Security Audit workflows, fix failing workflows
  .disabled/adc/package.json
  .disabled/adc/src/index.ts
  .disabled/adc/tests/adc.spec.ts
  .disabled/adc/tsconfig.json
  .disabled/afl-store/package.json
  .disabled/afl-store/src/index.ts
  .disabled/afl-store/src/types.ts
  .disabled/afl-store/tests/afl.spec.ts
  .disabled/afl-store/tsconfig.json
  .disabled/atl/package.json
  .disabled/atl/src/index.ts
  .disabled/atl/tests/atl.spec.ts
  .disabled/atl/tsconfig.json
  .github/workflows/ci.yml
  .github/workflows/metrics-export.yml
  .github/workflows/security-audit.yml
  .github/workflows/soc2-evidence.yml
Labels: audit:strict

feat: implement hypervelocity PR processing system
  .github/workflows/ci.yml
  .github/workflows/metrics-export.yml
  .github/workflows/soc2-evidence.yml
  scripts/hypervelocity-pr-processor.sh
Labels: audit:strict

fix: harden dev kit tooling
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .devcontainer/setup.sh
  .envrc.template
  .gitignore
  .lefthook-signature
  Makefile
  docker-compose.yml
  docs/developer/local-dev-kit.md
  docs/developer/onboarding-dry-run.md
  lefthook.yml
  ops/devkit/fixtures/datasets.json
  ops/devkit/fixtures/graph.json
  ops/devkit/otel-collector.yaml
  package.json
  scripts/devkit/check-parity.js
  scripts/devkit/mock-services.js
  scripts/devkit/nightly-parity-check.sh
  scripts/devkit/seed-fixtures.js
  scripts/health-check.js
  scripts/hooks/verify-hook-signature.sh
  server/package.json
  smoke-test.js
Labels: audit:strict

FINISHER: Stabilize test infra (preserve baseline lockfile)
  deploy_maestro.sh
  package-lock.json
  server/dist/graphql/resolvers/crudResolvers.js
  server/dist/graphql/schema/crudSchema.js
  server/dist/middleware/observability/otel-tracing.js
  server/dist/monitoring/opentelemetry.js
  server/dist/observability/telemetry.js
  server/dist/otel.js
  server/tsconfig.tsbuildinfo
Labels: none

Resolve 1858 1759193914 (#1862)
  .jest-list.txt
  __mocks__/ioredis.js
  __mocks__/node-fetch.js
  __mocks__/pg.js
  __mocks__/puppeteer.js
  apps/server/package.json
  conductor-ui/frontend/package.json
  e2e/client/a11y.spec.ts
  e2e/client/accessibility.spec.ts
  e2e/client/alerts-badge.e2e.spec.ts
  e2e/client/alerts.e2e.spec.ts
  e2e/client/analytics-bridge.spec.ts
  e2e/client/auth-and-search.spec.ts
  e2e/client/case.workflow.spec.ts
  e2e/client/collab-delta-sync.spec.ts
  e2e/client/critical-flow.spec.ts
  e2e/client/enrichment.spec.ts
  e2e/client/explainability.spec.ts
  e2e/client/golden-path-ci-gate.spec.ts
  e2e/client/golden-path.spec.ts
  e2e/client/graph-advanced.spec.ts
  e2e/client/graph.spec.ts
  e2e/client/investigation-real-time.spec.ts
  e2e/client/persisted-queries-ws.spec.ts
  e2e/client/persisted-queries.spec.ts
  e2e/client/playwright.config.ts
  e2e/client/predictive.e2e.spec.ts
  e2e/client/relationships.spec.ts
  e2e/client/subscriptions.spec.ts
  e2e/client/ui/apq.spec.ts
  e2e/client/utils/redis.ts
  e2e/client/utils/wait.ts
  e2e/client/wargame.spec.ts
  e2e/client/webauthn.spec.ts
  intelgraph/client/package.json
  jest.config.cjs
  jest.projects.cjs
  jest.setup.js
  package.json
  tsconfig.base.json
Labels: ui:smoke, audit:strict, perf:strict

feat: GREEN-LOCK complete infrastructure - branch inventory + master execution + complete guide
  GREEN_LOCK_COMPLETE_GUIDE.md
  GREEN_LOCK_EXECUTION_SUMMARY.md
  client/src/graphql/graphData.js
  scripts/branch-inventory.sh
  scripts/green-lock-master-execution.sh
Labels: none

feat: add critical findings doc and stale PR closure script
  GREEN_LOCK_CRITICAL_FINDINGS.md
  client/.env.example
  client/src/components/DecisionPreviewModal.js
  client/src/components/DecisionPreviewModal.jsx
  client/src/components/decisionPreviewController.js
  client/src/components/scenario/ScenarioChart.js
  client/src/components/scenario/ScenarioChart.jsx
  deploy/k8s/observability/servicemonitors.yaml
  observability/grafana/dashboards/crm_contact.json
  policy/bundle/.manifest
  policy/bundle/companyos/rbac.rego
  scripts/close-stale-prs.sh
  server/db/sql/010_vectors.sql
Labels: ops:strict

feat: restore execute-green-lock.sh script
  scripts/execute-green-lock.sh
Labels: none

docs: GREEN-LOCK MISSION COMPLETE - comprehensive infrastructure deployed
  GREEN_LOCK_MISSION_COMPLETE.md
Labels: none

fix: disable scheduled workflow triggers until production environment configured
  .github/workflows/auto-rollback.yml
  .github/workflows/error-budget-monitoring.yml
  .github/workflows/queue-monitoring.yml
Labels: audit:strict

chore(ci): add stabilization gate (minimal green check) for main and PRs
  .github/workflows/stabilization.yml
Labels: audit:strict

chore(ops): import untracked files from legacy working copy into ops/untracked-import
  ops/untracked-import/.husky/_/post-checkout
  ops/untracked-import/.husky/_/post-commit
  ops/untracked-import/.husky/_/post-merge
  ops/untracked-import/.husky/_/pre-push
  ops/untracked-import/client/src/features/graph/GraphStylePanel.js
Labels: none

feat(greenlock): add complete salvage orchestration infrastructure
  GREEN_LOCK_COMPLETE_GUIDE.md
  Makefile
  scripts/greenlock_orchestrator.sh
Labels: none

feat(green-lock): add acceptance pack with PR processing automation
  .github/workflows/auto-green.yml
  Makefile
  docs/greenlock/ACCEPTANCE_CHECKLIST.md
  scripts/auto_merge_all_open_prs.sh
  scripts/gradual_reenable_ci.sh
  scripts/monitor_stabilization.sh
  scripts/prepare-green-lock-acceptance-pr.sh
  scripts/recover_orphans_from_bundle.sh
  scripts/verify_greenlock.sh
Labels: audit:strict

feat(green-lock): Green-Lock Acceptance Pack - Complete PR Processing Automation (#1863)
  .github/workflows/auto-green.yml
  Makefile
  docs/greenlock/ACCEPTANCE_CHECKLIST.md
  scripts/auto_merge_all_open_prs.sh
  scripts/gradual_reenable_ci.sh
  scripts/monitor_stabilization.sh
  scripts/prepare-green-lock-acceptance-pr.sh
  scripts/recover_orphans_from_bundle.sh
  scripts/verify_greenlock.sh
Labels: audit:strict

feat: add depth operating mode for companyos
  companyos/operating-modes.yaml
Labels: none

feat: Phase 3 complete - CI elevated to 5/5 with risk delta tracking
  .github/workflows/deception-simulation.yml
  .github/workflows/required-contexts.yml
  .github/workflows/risk-delta.yml
  scripts/risk-delta-score.js
Labels: audit:strict

feat: Phase 4 complete - Security & Supply Chain with SBOM
  .release/provenance/LICENSE
  .release/provenance/README.md
  .release/provenance/ci-snapshot.txt
  .release/provenance/docs-validation.txt
  .release/provenance/hashes.sha256
  .release/provenance/sbom.json
  .release/provenance/secrets-scan.txt
Labels: none

feat: Phase 6 preparation - Golden release notes ready
  .release/.github/release-notes/v2025.09.30-golden.md
Labels: none

feat: MISSION COMPLETE - v2025.09.30-golden ready for tag & publish
  GOLDEN_TAG_MISSION_COMPLETE.md
  scripts/execute-golden-tag.sh
Labels: none

Create project-access.md
  docs/project_management/project-access.md
Labels: none

Create oct25-bulk-import.yml
  .github/workflows/oct25-bulk-import.yml
Labels: audit:strict

feat: implement bulk import logic in workflow
  .github/workflows/oct25-bulk-import.yml
  activities/activities-v14.zip
  activities/activities-v15-fixed.zip
  activities/activities-v15.zip
  activities/activities-v17.zip
  activities/activities-v18.zip
  legal/providers/anthropic_dpa_v1_1.pdf
  legal/providers/google_dpa_v2_0.pdf
  legal/providers/openai_dpa_v1_0.pdf
Labels: audit:strict

fix: implement proper matrix concurrency strategy for bulk import
  .github/workflows/oct25-bulk-import.yml
Labels: audit:strict

docs(mc): bootstrap Model Catalog (schema + validator) (#1376)
  .github/workflows/validate-model-catalog.yml
  model-catalog/catalog.yaml
  model-catalog/schemas/model.schema.json
Labels: audit:strict
