Repository BrianCLong/summit, changes with the labels that .github/labeler.yml gives for each.
All labels: ui:smoke, ops:strict, audit:strict, perf:strict

.github/labeler.yml:

ui:smoke:
  - 'apps/**'
  - '.github/k6/**'

ops:strict:
  - 'charts/**'
  - 'helm/**'
  - 'deploy/**'
  - 'infra/**'

audit:strict:
  - '**/tsconfig*.json'
  - 'pnpm-workspace.yaml'
  - 'package.json'
  - 'scripts/monorepo_heal.mjs'
  - '.github/workflows/**'

perf:strict:
  - 'apps/**'
  - 'services/**'

docs: add background automation status report for October 2025
  docs/BACKGROUND_AUTOMATION_STATUS_OCT2025.md
Labels: none

docs: add executive summary for October 2025 delivery
  docs/OCTOBER_2025_EXECUTIVE_SUMMARY.md
Labels: none

feat: add explainable multi-cloud meta orchestrator
  docs/meta-orchestrator-release-note.md
  ga-graphai/packages/common-types/src/index.ts
  ga-graphai/packages/meta-orchestrator/AGENTS.md
  ga-graphai/packages/meta-orchestrator/package.json
  ga-graphai/packages/meta-orchestrator/src/index.ts
  ga-graphai/packages/meta-orchestrator/tests/meta-orchestrator.test.ts
  ga-graphai/packages/meta-orchestrator/tsconfig.json
Labels: audit:strict

feat: add real-time narrative simulation engine
  README.md
  docs/narrative-sim-summary.md
  scenarios/narrative/crisis-response.json
  scenarios/narrative/election-cycle.json
  scenarios/narrative/information-ops.json
  server/src/app.ts
  server/src/narrative/engine.ts
  server/src/narrative/generators.ts
  server/src/narrative/manager.ts
  server/src/narrative/types.ts
  server/src/routes/narrative-sim.ts
  server/src/tests/narrative/narrative-engine.test.ts
  server/src/tests/narrative/narrative-routes.test.ts
Labels: none

feat(phase3): officially transition Phase 3 Cognitive Decision Support System to complete status
  PHASE3_OFFICIAL_TRANSITION_MARKER.txt
Labels: none

docs(phase3): add comprehensive completion and Phase 4 readiness documentation
  PHASE3_COMPLETION_AND_PHASE4_READINESS.json
  PHASE3_COMPLETION_AND_PHASE4_READINESS.md
Labels: none

feat: add consent state reconciler
  ga-graphai/packages/common-types/src/index.ts
  ga-graphai/packages/policy/src/consent-reconciler.ts
  ga-graphai/packages/policy/src/index.ts
  ga-graphai/packages/policy/tests/consent-reconciler.test.ts
Labels: none

feat: add federated attribution engine
  ga-graphai/packages/common-types/src/index.ts
  ga-graphai/packages/graphai/src/federated_attribution.py
  ga-graphai/packages/graphai/src/main.py
  ga-graphai/packages/graphai/tests/test_attribution.py
  ga-graphai/packages/web/src/federated-attribution.ts
  ga-graphai/packages/web/src/index.ts
  ga-graphai/packages/web/tests/federatedAttribution.test.ts
Labels: none

feat: add policy compliance simulation analytics
  ga-graphai/packages/common-types/src/index.ts
  ga-graphai/packages/policy/package.json
  ga-graphai/packages/policy/src/index.ts
  ga-graphai/packages/policy/tests/policy-engine.test.ts
  ga-graphai/packages/policy/tests/policy-simulator.test.ts
  ga-graphai/packages/policy/tests/validator.test.ts
  ga-graphai/packages/web/src/index.ts
  ga-graphai/packages/web/src/policy-visuals.ts
  ga-graphai/packages/web/tests/policy-visuals.test.ts
Labels: none

feat: add workflow diff engine analytics
  ga-graphai/packages/common-types/src/index.ts
  ga-graphai/packages/workflow-diff-engine/AGENTS.md
  ga-graphai/packages/workflow-diff-engine/package.json
  ga-graphai/packages/workflow-diff-engine/src/index.ts
  ga-graphai/packages/workflow-diff-engine/tests/diff-engine.test.ts
  ga-graphai/packages/workflow-diff-engine/tsconfig.json
Labels: audit:strict

feat: introduce maestro conductor meta-agent
  docs/maestro-conductor/meta-agent-architecture.md
  ga-graphai/packages/maestro-conductor/AGENTS.md
  ga-graphai/packages/maestro-conductor/package.json
  ga-graphai/packages/maestro-conductor/src/anomaly.ts
  ga-graphai/packages/maestro-conductor/src/discovery.ts
  ga-graphai/packages/maestro-conductor/src/index.ts
  ga-graphai/packages/maestro-conductor/src/job-router.ts
  ga-graphai/packages/maestro-conductor/src/maestro-conductor.ts
  ga-graphai/packages/maestro-conductor/src/monitoring.ts
  ga-graphai/packages/maestro-conductor/src/optimization.ts
  ga-graphai/packages/maestro-conductor/src/self-healing.ts
  ga-graphai/packages/maestro-conductor/src/types.ts
  ga-graphai/packages/maestro-conductor/tests/maestro-conductor.test.ts
  ga-graphai/packages/maestro-conductor/tsconfig.json
Labels: audit:strict

docs: expand intelgraph backend blueprint
  docs/ARCHITECTURE.md
Labels: none

feat: add semantic pii mapping engine
  .gitignore
  docs/PII_MAPPING_ENGINE.md
  server/data/pii/benchmark.json
  server/src/pii/classifier.ts
  server/src/pii/index.ts
  server/src/pii/patterns.ts
  server/src/pii/recognizer.ts
  server/src/pii/scanner.ts
  server/src/pii/taxonomy.ts
  server/src/pii/types.ts
  server/src/pii/verification.ts
  server/tests/pii/pii-engine.test.ts
Labels: none

feat(policy): add governance sandbox framework
  docs/policy/policy-sandbox.md
  ga-graphai/packages/policy/package.json
  ga-graphai/packages/policy/src/index.ts
  ga-graphai/packages/policy/tests/policy-engine.test.ts
  ga-graphai/packages/policy/tests/sandbox.test.ts
  ga-graphai/packages/policy/tests/validator.test.ts
Labels: none

feat(prov-ledger): add immutable training capsules
  ga-graphai/packages/prov-ledger/README.md
  ga-graphai/packages/prov-ledger/src/capsules.ts
  ga-graphai/packages/prov-ledger/src/index.ts
  ga-graphai/packages/prov-ledger/tests/training-capsules.integration.test.ts
  ga-graphai/packages/prov-ledger/vitest.config.ts
Labels: none

feat(anomaly): build intelligent detection engine
  services/anomaly/README.md
  services/anomaly/api.py
  services/anomaly/detectors.py
  services/anomaly/engine.py
  services/anomaly/test_anomaly.py
Labels: perf:strict

feat: add distributed configuration management service
  docs/distributed-config-management.md
  server/src/config/distributed/__tests__/distributed-config-service.test.ts
  server/src/config/distributed/distributed-config-service.ts
  server/src/config/distributed/index.ts
  server/src/config/distributed/repository.ts
  server/src/config/distributed/types.ts
Labels: none

feat: add crypto verification pipeline
  server/SECURITY.md
  server/jest.crypto.config.js
  server/src/provenance/ledger.ts
  server/src/security/crypto/certificates.ts
  server/src/security/crypto/index.ts
  server/src/security/crypto/keyStore.ts
  server/src/security/crypto/pipeline.ts
  server/src/security/crypto/services.ts
  server/src/security/crypto/types.ts
  server/tests/fixtures/crypto/intermediate.pem
  server/tests/fixtures/crypto/leaf.key
  server/tests/fixtures/crypto/leaf.pem
  server/tests/fixtures/crypto/root.pem
  server/tests/security/crypto-pipeline.test.ts
  server/tests/security/ledger-crypto-integration.test.ts
Labels: none

feat: add data retention policy engine
  docs/legal/DATA_RETENTION_ENGINE_COMPLIANCE.md
  server/src/governance/retention/auditLogger.ts
  server/src/governance/retention/dataRetentionEngine.ts
  server/src/governance/retention/policyTemplates.ts
  server/src/governance/retention/repository.ts
  server/src/governance/retention/scheduler.ts
  server/src/governance/retention/types.ts
  server/src/jobs/retention.ts
  server/src/tests/dataRetentionEngine.test.ts
Labels: none

feat: add pii ontology mapping engine
  docs/compliance/pii-ontology-framework.md
  server/src/privacy/piiOntologyEngine.ts
  server/src/tests/piiOntologyEngine.test.ts
Labels: none

feat: add federated attribution engine
  docs/privacy/federated-attribution-compliance.md
  server/src/services/attribution/FederatedAttributionEngine.ts
  server/tests/federatedAttributionEngine.test.ts
Labels: none

feat: add legal hold orchestrator
  docs/legal-hold-orchestrator.md
  server/src/cases/legal-hold/orchestrator.ts
  server/src/cases/legal-hold/types.ts
  server/tests/legal-hold-orchestrator.test.ts
Labels: none

test: add governance gate fuzzing harness
  services/authz-gateway/README.md
  services/authz-gateway/package.json
  services/authz-gateway/tests/fuzz/governance-gate.fuzz.test.ts
Labels: perf:strict

feat: add consent reconciliation engine
  services/privacy/COMPLIANCE.md
  services/privacy/jest.config.cjs
  services/privacy/package.json
  services/privacy/src/consentReconciler.ts
  services/privacy/src/index.ts
  services/privacy/tests/consentReconciler.test.ts
  services/privacy/tsconfig.json
Labels: audit:strict, perf:strict

feat(policy): add governance policy backtesting engine
  ga-graphai/packages/policy/README.md
  ga-graphai/packages/policy/package.json
  ga-graphai/packages/policy/src/index.ts
  ga-graphai/packages/policy/tests/policy-backtester.test.ts
  ga-graphai/packages/policy/tests/policy-engine.test.ts
  ga-graphai/packages/policy/tests/validator.test.ts
Labels: none

feat: add multi-cloud arbitrage agent system
  docs/cloud-arbitrage-market-case-study.md
  docs/cloud-arbitrage-patent-pillars.md
  ga-graphai/packages/cloud-arbitrage/AGENTS.md
  ga-graphai/packages/cloud-arbitrage/README.md
  ga-graphai/packages/cloud-arbitrage/experiments/ab-test-log.jsonl
  ga-graphai/packages/cloud-arbitrage/package.json
  ga-graphai/packages/cloud-arbitrage/src/agent.ts
  ga-graphai/packages/cloud-arbitrage/src/dataFeeds.ts
  ga-graphai/packages/cloud-arbitrage/src/evaluator.ts
  ga-graphai/packages/cloud-arbitrage/src/index.ts
  ga-graphai/packages/cloud-arbitrage/src/strategies.ts
  ga-graphai/packages/cloud-arbitrage/src/types.ts
  ga-graphai/packages/cloud-arbitrage/tests/agent.spec.ts
Labels: none

feat: add zero-touch compliance enforcement system
  docs/compliance/zero_touch_market_tco_summary.md
  docs/compliance/zero_touch_regulatory_matrix.md
  ops/compliance_zero_touch/__init__.py
  ops/compliance_zero_touch/adapters/__init__.py
  ops/compliance_zero_touch/adapters/base.py
  ops/compliance_zero_touch/adapters/homegrown.py
  ops/compliance_zero_touch/adapters/kyverno.py
  ops/compliance_zero_touch/adapters/opa.py
  ops/compliance_zero_touch/adapters/sentinel.py
  ops/compliance_zero_touch/artifacts/compliance_audit_report.json
  ops/compliance_zero_touch/compliance_runner.py
  ops/compliance_zero_touch/engine.py
  ops/compliance_zero_touch/models/base.py
  ops/compliance_zero_touch/tests/test_engine.py
  ops/compliance_zero_touch/workspace/configs/infrastructure.json
  ops/compliance_zero_touch/workspace/policies/homegrown_controls.json
  ops/compliance_zero_touch/workspace/test_suites/open_suite_results.json
Labels: none

feat: add govbrief research brief pipeline
  packages/govbrief/README.md
  packages/govbrief/package.json
  packages/govbrief/src/claims.ts
  packages/govbrief/src/cli.ts
  packages/govbrief/src/fetcher.ts
  packages/govbrief/src/index.ts
  packages/govbrief/src/normalize.ts
  packages/govbrief/src/pcs.ts
  packages/govbrief/src/pipeline.ts
  packages/govbrief/src/safety.ts
  packages/govbrief/src/types.ts
  packages/govbrief/src/utils.ts
  packages/govbrief/tsconfig.json
Labels: audit:strict

docs: publish link analysis canvas prd and agent prompt
  docs/agents/README.md
  docs/agents/link-analysis-canvas-master-prompt.md
  docs/prds/link-analysis-canvas-prd.md
Labels: none

feat: add uvb76 monitoring toolkit
  ops/uvb76-tripwire/README.md
  ops/uvb76-tripwire/captures/.gitkeep
  ops/uvb76-tripwire/clips/.gitkeep
  ops/uvb76-tripwire/config/config.yaml
  ops/uvb76-tripwire/detector/__init__.py
  ops/uvb76-tripwire/detector/detector.py
  ops/uvb76-tripwire/detector/utils.py
  ops/uvb76-tripwire/events/.gitkeep
  ops/uvb76-tripwire/schema/event.schema.json
  ops/uvb76-tripwire/schema/opensearch-index.json
  ops/uvb76-tripwire/schema/sigma-uvb76-marker.yml
  ops/uvb76-tripwire/scripts/enrich_numbers.py
  ops/uvb76-tripwire/scripts/record_ffmpeg.sh
  ops/uvb76-tripwire/scripts/record_kiwi.sh
  ops/uvb76-tripwire/scripts/scan_hf.py
  ops/uvb76-tripwire/scripts/ship_objects.py
  ops/uvb76-tripwire/specs/.gitkeep
Labels: none

docs: refresh chairman wolf committee report
  docs/ga/committee-report-wolfs-hand.md
Labels: none

docs: add platform evaluation summary
  docs/repository-evaluation.md
Labels: none

docs: codify access proof execution plan
  project_management/access-proof-execution-plan.md
Labels: none

docs: add pilot price sheet and sow template
  docs/pilot-price-sheet-and-sow.md
Labels: none

docs: add cash-now price sheet and sow templates
  docs/pricing/cash-now-price-sheet.md
  docs/sow/cash-now-sow-pack.md
Labels: none

chore: standardize api package metadata
  intelgraph/api-packages/analytics-api/README.md
  intelgraph/api-packages/analytics-api/pyproject.toml
  intelgraph/api-packages/analytics-api/src/analytics_api/__init__.py
  intelgraph/api-packages/authentication-api/README.md
  intelgraph/api-packages/authentication-api/pyproject.toml
  intelgraph/api-packages/authentication-api/src/authentication_api/__init__.py
  intelgraph/api-packages/data-ingestion-api/README.md
  intelgraph/api-packages/data-ingestion-api/pyproject.toml
  intelgraph/api-packages/data-ingestion-api/src/data_ingestion_api/__init__.py
  intelgraph/api-packages/notification-api/README.md
  intelgraph/api-packages/notification-api/pyproject.toml
  intelgraph/api-packages/notification-api/src/notification_api/__init__.py
Labels: none

docs: add fast-ship sku one-pager and order forms
  docs/sales/fast-ship-top6-one-pager.md
  docs/sales/order-forms/AIS-GUARD-01-order-form.md
  docs/sales/order-forms/AIS-RT-01-order-form.md
  docs/sales/order-forms/FIN-01-order-form.md
  docs/sales/order-forms/GH-CERT-01-order-form.md
  docs/sales/order-forms/RBC-01-order-form.md
  docs/sales/order-forms/RES-01-order-form.md
Labels: none

feat: harden intelgraph helm security controls
  .github/kube-linter-config.yaml
  .github/workflows/helm-ci.yml
  deploy/helm/intelgraph/Chart.yaml
  deploy/helm/intelgraph/templates/_helpers.tpl
  deploy/helm/intelgraph/templates/canary-rollout.yaml
  deploy/helm/intelgraph/templates/certificate.yaml
  deploy/helm/intelgraph/templates/deployment-api-gateway.yaml
  deploy/helm/intelgraph/templates/externalsecrets.yaml
  deploy/helm/intelgraph/templates/networkpolicy.yaml
  deploy/helm/intelgraph/templates/podsecurity-namespace.yaml
  deploy/helm/intelgraph/templates/serviceaccount-rbac.yaml
  deploy/helm/intelgraph/templates/servicemonitor.yaml
  deploy/helm/intelgraph/values.yaml
  docs/security/helm-security-hardening.md
Labels: ops:strict, audit:strict

feat(websocket): improve connection resilience
  conductor-ui/frontend/src/maestro/utils/streamUtils.ts
  server/src/types/shims.d.ts
  server/src/websocket/connectionManager.ts
  server/src/websocket/core.ts
  server/tests/websocket/connection-manager.test.ts
Labels: none

chore(ci): harden security compliance pipeline
  .github/workflows/ci-security.yml
  .github/workflows/deploy.yml
  docs/security/security-pipeline.md
  scripts/security/baseline-check.sh
Labels: audit:strict
