Repository BrianCLong/summit, changes with the labels that .github/labeler.yml gives for each.
All labels: ui:smoke, ops:strict, audit:strict, perf:strict

feat: add IntelGraph November 2025 release artifacts
  .github/workflows/release.yml
  CHANGELOG.md
  apps/web/tests/graph-ui.spec.ts
  deploy/helm/values-prod.yaml
  grafana/dashboards/intelgraph-slo-dashboard.json
  graphql/schema.graphql
  ops/alertmanager/receivers.yml
  ops/prometheus/alerts/policy_intelligence.yml
  release/EXEC_BRIEF_v2025.11.2.md
  release/RELEASE_NOTES_v2025.11.2.md
  server/ml/__tests__/model_quality.spec.ts
  tests/k6/soar_bulk_100rps.js
Labels: ui:smoke, ops:strict, audit:strict, perf:strict

ci: add runbook auto-gen workflow
  .github/workflows/runbook-gen.yml
Labels: audit:strict

fix: update CI/CD workflow and add GraphQL entity resolvers
  .github/workflows/release.yml
  server/src/graphql/resolvers-combined.ts
  server/src/graphql/resolvers/entity.js
  server/src/graphql/resolvers/entity.ts
Labels: audit:strict

docs: add Disclosure Pack checklist
  docs/disclosure_pack_checklist.md
Labels: none

build: declare ESM module type and fix commitlint config
  commitlint.config.cjs
  package.json
Labels: audit:strict

ci: add Grafana URL resolution to Maestro Fast-Lane workflow
  .github/workflows/maestro-fastlane.yml
Labels: audit:strict

Add fastlane and friction_alerts sections to orchestration.yml
  orchestration.yml
Labels: none

Add required observability, fastlane, friction_alerts to schema
  orchestration.schema.json
Labels: none

Add /handoff/fastlane endpoint and friction metrics to AlertEvent
  maestro-orchestration-api.yaml
Labels: none

Add fastlane signals, handoff/latency logging, and friction alerts in mc-orchestrator.sh
  scripts/mc-orchestrator.sh
Labels: none

Add fastlane signals, friction alerts, and handoff/latency logs to batch-automerge.sh
  scripts/batch-automerge.sh
Labels: none

chore: streamline lint and typecheck workflows
  .eslintignore
  .github/workflows/ci.yml
  .gitignore
  client/tsconfig.json
  eslint.config.js
  package.json
  server/tsconfig.json
  tsconfig.base.json
  tsconfig.eslint.json
Labels: audit:strict

feat: implement CI fastlane orchestration with friction alerts and SLO monitoring
  .github/workflows/ci-green-baseline.yml
  .github/workflows/release.yml
  ci/canary_deploy.sh
  ci/create_evidence_bundle.sh
  ci/promote.sh
  ci/rollback.sh
  docker-compose.yml
  orchestrator/Dockerfile
  orchestrator/README.md
  orchestrator/package.json
  orchestrator/src/index.js
  scripts/fastlane/eligibility-check.mjs
  scripts/friction/emit-annotations.mjs
  scripts/gates/slo-budget-check.mjs
  scripts/probes/canary.json
  scripts/probes/decision.mjs
  scripts/probes/slo-validate.mjs
Labels: audit:strict

feat: Add Copilot Playbook bundle
  .github/PULL_REQUEST_TEMPLATE.md
  CODEOWNERS
  docs/Copilot-Playbook.md
  scaffolds/grafana-panel.json
  scaffolds/k8s-service-bundle.yaml
  scaffolds/opa-policy-stub.rego
  scaffolds/ts-service-template.ts
Labels: none

feat: Add Copilot instructions and README badge
  .github/copilot-instructions.yml
  README.md
Labels: none

chore: add Copilot refresh + weekly adoption report automations
  .github/workflows/copilot-adoption-report.yml
  .github/workflows/copilot-refresh.yml
  reports/README.md
Labels: audit:strict

feat: Add Copilot workflow enhancements
  .github/workflows/copilot-guardrail.yml
  .github/workflows/copilot-wins-rollup.yml
  Makefile
  README.md
Labels: audit:strict

feat: Add complete GA release artifact generation and verification system
  .github/workflows/release-artifacts.yml
  FINAL_COMPLETE_SUMMARY.md
  Makefile
  docs/releases/2025.10.07_MAESTRO_CONDUCTOR_GA_ANNOUNCEMENT.md
  package.json
  scripts/gen-release-attestation.mjs
  scripts/gen-release-manifest.mjs
  scripts/validate-ga.sh
  scripts/verify-release-manifest.mjs
Labels: audit:strict

docs: Add GA sign-off packet for Maestro Conductor v2025.10.07
  docs/releases/GA_SIGNOFF_PACKET.md
Labels: none

chore: commit zip files
  sprint25_day1_artifacts.zip
  sprint25_pr_patchset.zip
Labels: none

Squashed 'myservice/' content from commit a5eb4932f
  .editorconfig
  .gitignore
  .pre-commit-config.yaml
  Dockerfile
  Makefile
  pyproject.toml
  src/main.py
Labels: none

chore: vendor vpc/ and webapp/ into this repo
  .gitignore
  vpc/.editorconfig
  vpc/.gitignore
  vpc/.pre-commit-config.yaml
  vpc/.tflint.hcl
  vpc/Makefile
  vpc/examples/basic/main.tf
  vpc/modules/vpc/main.tf
  webapp/.editorconfig
  webapp/.gitignore
  webapp/.pre-commit-config.yaml
  webapp/.prettierrc
  webapp/Dockerfile
  webapp/Makefile
  webapp/package.json
  webapp/src/index.js
Labels: none

chore: add ignores for vendored vpc and webapp artifacts
  .gitignore
  Makefile
  ops/compose/.env
  ops/compose/docker-compose.yml
Labels: none

chore: replace tracked .env with .env.example and add .dockerignore
  .dockerignore
  .gitignore
  ops/compose/.env.example
Labels: none

chore(webapp): add package-lock.json for reproducible builds
  webapp/package-lock.json
Labels: none

chore(webapp): track package-lock.json for reproducible builds
  .gitignore
Labels: none

ci(security): restore gitleaks — add license env & stable args
  .github/workflows/gitleaks.yml
Labels: audit:strict

ci(contract): use open-policy-agent/setup-opa@v2 and invoke opa on PATH
  .github/workflows/contract-tests.yml
Labels: audit:strict

ci(py): add pytest-cov to dev/test extras; install via extras in CI
  python/pyproject.toml
Labels: none

ci(py): add pytest-cov to dev/test extras; install via extras in CI
  .github/workflows/python-ci.yml
Labels: audit:strict

ci(node): add pnpm/action-setup + Node cache; upload-sarif guard; fix CodeQL matrix
  .github/workflows/ci.yml
Labels: audit:strict

feat(ga-release): add Docker Compose GA release package v2025.10.07
  .github/workflows/compose-ci.yml
  docker-ga-release/.env
  docker-ga-release/.env.example
  docker-ga-release/Makefile
  docker-ga-release/README.md
  docker-ga-release/SUMMARY.md
  docker-ga-release/docker-compose.yml
  docker-ga-release/grafana/dashboards/dashboard.yml
  docker-ga-release/grafana/dashboards/maestro-overview.json
  docker-ga-release/grafana/datasources/datasource.yml
  docker-ga-release/opa/policy.rego
  docker-ga-release/otel-collector.yaml
  docker-ga-release/package.json
  docker-ga-release/prometheus.yml
  docker-ga-release/scripts/gen-release-attestation.mjs
  docker-ga-release/scripts/gen-release-manifest.mjs
  docker-ga-release/scripts/health-check.mjs
  docker-ga-release/scripts/verify-release-manifest.mjs
  docker-ga-release/scripts/verify-services.sh
  docker-ga-release/services/api/Dockerfile
  docker-ga-release/services/api/index.js
  docker-ga-release/services/frontend/Dockerfile
  docker-ga-release/services/frontend/index.js
  docker-ga-release/services/frontend/nginx.conf
  docker-ga-release/services/frontend/site/index.html
  docker-ga-release/services/frontend/site/status.html
  docker-ga-release/services/grafana/Dockerfile
  docker-ga-release/services/ingest/Dockerfile
  docker-ga-release/services/ingest/index.js
  docker-ga-release/services/jaeger/Dockerfile
  docker-ga-release/services/neo4j/Dockerfile
  docker-ga-release/services/opa/Dockerfile
  docker-ga-release/services/otel-collector/Dockerfile
  docker-ga-release/services/postgres/Dockerfile
  docker-ga-release/services/prometheus/Dockerfile
  docker-ga-release/services/redis/Dockerfile
  docker-ga-release/tsconfig.json
Labels: audit:strict

ci(baseline): pnpm install/caching; SARIF upload guard; CodeQL matrix fix
  .github/workflows/ci-main.yml
Labels: audit:strict

ci(deploy-preview): replace 7-char short SHA with full or --short=12
  .github/workflows/preview.yml
Labels: audit:strict

ci(codeql): auto-detect language matrix + build-mode defaults
  .github/workflows/codeql.yml
Labels: audit:strict

feat(ga): add complete GA infrastructure and components
  scripts/verify-release-manifest.mjs
Labels: none

chore: finalize v0.3.0 hardening (evidence, badges, verifier, protections, observability)
  .claude/settings.local.json
  .qwen/PROJECT_SUMMARY.md
  ops/compose/Makefile
  ops/compose/alert_rules.yml
  ops/compose/alertmanager.yml
  ops/compose/blackbox.yml
  ops/compose/docker-compose.yml
  ops/compose/prometheus.yml
  requirements.txt
  scripts/tune_compose.sh
Labels: none

fix(ci): add pnpm setup to CodeQL workflow
  .github/workflows/codeql.yml
Labels: audit:strict

ci(security): fork-safe SARIF upload guard
  .github/workflows/codeql-analysis.yml
Labels: audit:strict

feat: add evidence target to generate SBOM, checksums, and tarball
  Makefile
Labels: none

.github/labeler.yml:

ui:smoke:
  - 'apps/**'
  - '.github/k6/**'

ops:strict:
  - 'charts/**'
  - 'helm/**'
  - 'deploy/**'
  - 'infra/**'

audit:strict:
  - '**/tsconfig*.json'
  - 'pnpm-workspace.yaml'
  - 'package.json'
  - 'scripts/monorepo_heal.mjs'
  - '.github/workflows/**'

perf:strict:
  - 'apps/**'
  - 'services/**'
