Repository BrianCLong/summit, changes with the labels that .github/labeler.yml gives for each.
All labels: ui:smoke, ops:strict, audit:strict, perf:strict

Fix SecretSentry allowlist path resolution (#1854)
  tools/secretsentry/README.md
  tools/secretsentry/github/secretsentry-block.yml
  tools/secretsentry/github/secretsentry-warn.yml
  tools/secretsentry/pyproject.toml
  tools/secretsentry/secretsentry/__init__.py
  tools/secretsentry/secretsentry/__main__.py
  tools/secretsentry/secretsentry/allowlist.py
  tools/secretsentry/secretsentry/cli.py
  tools/secretsentry/secretsentry/report.py
  tools/secretsentry/secretsentry/rules.py
  tools/secretsentry/secretsentry/scanner.py
  tools/secretsentry/tests/conftest.py
  tools/secretsentry/tests/fixtures/sample_repo/.secretsentryignore
  tools/secretsentry/tests/fixtures/sample_repo/README.md
  tools/secretsentry/tests/fixtures/sample_repo/app/secrets.txt
  tools/secretsentry/tests/fixtures/sample_repo/ignored/should_not_trigger.txt
  tools/secretsentry/tests/golden/sample_repo.json
  tools/secretsentry/tests/golden/sample_repo.md
  tools/secretsentry/tests/test_scanner.py
Labels: none

feat: encode companyOS strategy schema (#1852)
  docs/companyos-mvv-strategy-schema.md
  schema/baseline.graphql
Labels: none

Add agent-first positioning policy and governance links (#1850)
  docs/governance/mission-vision-values.md
  docs/policy/agent-first-positioning-policy.md
  docs/sales/topicality-agent-first-positioning-pack.md
Labels: none

feat: add switchboard blueprint starter kit (#1849)
  .github/workflows/ci.switchboard.yml
  apis/switchboard.yaml
  db/switchboard/schema.sql
  deploy/local/docker-compose.switchboard.yml
  docs/modules/switchboard-blueprint.md
  policies/switchboard.rego
  ui/components/Switchboard.tsx
Labels: ops:strict, audit:strict

docs: add fast read summary for summit monorepo (#1848)
  docs/REPO_FAST_READ.md
Labels: none

docs: add pre-deploy credential provisioning prompt pack (#1847)
  docs/modules/pre-deploy-credential-provisioning.md
Labels: none

[PREP] chore(ts): base TS config + DOM libs; ignore *.updated.ts; web lint deps (#1844)
  apps/ai-core/tsconfig.json.tmp
  deploy_maestro.sh
  packages/policy-audit/package.json
  scripts/merge_train_v2.sh
  services/feed-processor/package.json
  services/graph-core/package.json
  services/license-registry/package.json
  services/policy-audit/package.json
  services/prov-ledger/package.json
  services/synthdata/package.json
  tsconfig.base.json
Labels: ui:smoke, audit:strict, perf:strict

feat(configguard): add schema validation toolkits (#1842)
  libs/configguard/go/README.md
  libs/configguard/go/configguard/configguard.go
  libs/configguard/go/configguard/configguard_test.go
  libs/configguard/go/configguard/envpolicy.go
  libs/configguard/go/go.mod
  libs/configguard/go/go.sum
  libs/configguard/go/testdata/interpolation.yaml
  libs/configguard/go/testdata/invalid.yaml
  libs/configguard/go/testdata/service.schema.json
  libs/configguard/go/testdata/valid.yaml
  libs/configguard/ts/README.md
  libs/configguard/ts/jest.config.cjs
  libs/configguard/ts/package.json
  libs/configguard/ts/src/__tests__/fixtures/interpolation.yaml
  libs/configguard/ts/src/__tests__/fixtures/invalid.yaml
  libs/configguard/ts/src/__tests__/fixtures/service.schema.json
  libs/configguard/ts/src/__tests__/fixtures/valid.yaml
  libs/configguard/ts/src/__tests__/load.test.ts
  libs/configguard/ts/src/cli.ts
  libs/configguard/ts/src/index.ts
  libs/configguard/ts/src/interpolate.ts
  libs/configguard/ts/src/parse.ts
  libs/configguard/ts/src/types.ts
  libs/configguard/ts/src/validate.ts
  libs/configguard/ts/tsconfig.json
Labels: audit:strict

docs: refine errata unified error taxonomy tickets (#1841)
  project_management/issues/errata-unified-error-taxonomy.md
Labels: none

Refine attestation verifier Jira backlog (#1839)
  tools/attest/jira_tickets.md
Labels: none

docs: harden scoped ci workflow guidance (#1837)
  AGENTS.md
Labels: none

Automate scoped CI workflow (#1836)
  scoped-ci-automation-report.md
  scripts/scoped_ci_automation.sh
Labels: none

Add Jira ticket plan for GQLSnap tooling (#1835)
  tools/gqlsnap/jira-tickets.md
Labels: none

docs: add ratelaw jira planning outline (#1834)
  tools/ratelaw/JIRA_TICKETS.md
Labels: none

Add devkit onboarding docs and improve smoke retries (#1833)
  .github/ISSUE_TEMPLATE/dev_environment.yml
  docs/ENV_VARS.md
  docs/TROUBLESHOOTING.md
  docs/devkit-local-development.md
  tools/devkit/smoke.js
Labels: none

feat: introduce migratevet migration linter (#1832)
  tools/migratevet/__init__.py
  tools/migratevet/cli.py
  tools/migratevet/models.py
  tools/migratevet/postgres_rules.py
  tools/migratevet/scanner.py
  tools/migratevet/tests/fixtures/postgres/bad/001_risky_ops.sql
  tools/migratevet/tests/fixtures/postgres/good/001_create_table.sql
  tools/migratevet/tests/test_cli.py
Labels: none

docs: outline ghostkey jira ticket plan (#1830)
  tools/ghostkey/jira_tickets.md
Labels: none

feat: add gatekeeper policy linter (#1829)
  tools/__init__.py
  tools/gatekeeper/__init__.py
  tools/gatekeeper/__main__.py
  tools/gatekeeper/cli.py
  tools/gatekeeper/lint.py
  tools/gatekeeper/reporting.py
  tools/gatekeeper/tests/test_cli.py
Labels: none

Feature/adc (#1822)
  packages/adc/package.json
  packages/adc/src/index.ts
  packages/adc/tests/adc.spec.ts
  packages/adc/tsconfig.json
  packages/hrn/package.json
  packages/hrn/src/index.ts
  packages/hrn/tests/hrn.spec.ts
  packages/hrn/tsconfig.json
Labels: audit:strict

Feature/cfa tdw (#1821)
  packages/cfa-tdw/package.json
  packages/cfa-tdw/src/index.ts
  packages/cfa-tdw/tests/cfa-tdw.spec.ts
  packages/cfa-tdw/tsconfig.json
Labels: audit:strict

Feature/gdr (#1820)
  packages/gdr/package.json
  packages/gdr/src/index.ts
  packages/gdr/tests/gdr.spec.ts
  packages/gdr/tsconfig.json
Labels: audit:strict

Add observability first telemetry program plan (#1816)
  docs/observability-first-plan.md
Labels: none

feat: establish data spine governance toolkit (#1815)
  .github/workflows/data-spine-governance.yml
  docs/adr/ADR-0001-data-spine.md
  docs/audits/data-residency-audit.md
  services/data-spine/README.md
  services/data-spine/bin/data-spine.js
  services/data-spine/contracts/customer-profile/1.0.0/schema.json
  services/data-spine/contracts/customer-profile/1.1.0/schema.json
  services/data-spine/contracts/transaction-events/1.0.0/schema.avsc
  services/data-spine/lineage/snapshots/mvp.json
  services/data-spine/package.json
  services/data-spine/reports/residency-audit.json
  services/data-spine/src/cli.js
  services/data-spine/src/constants.js
  services/data-spine/src/index.js
  services/data-spine/src/lineageSink.js
  services/data-spine/src/policyHooks.js
  services/data-spine/src/schemaRegistry.js
  services/data-spine/src/tokenization.js
  services/data-spine/test/lineageSink.test.js
  services/data-spine/test/policyHooks.test.js
  services/data-spine/test/schemaRegistry.test.js
Labels: audit:strict, perf:strict

feat: add canary rollout controller with auto rollback (#1814)
  scripts/release/canary-rollback-playbook.sh
  services/release/canary/README.md
  services/release/canary/canaryManager.test.ts
  services/release/canary/canaryManager.ts
  services/release/canary/healthScorer.ts
  services/release/canary/types.ts
Labels: perf:strict

feat: enforce cve budgets and attestation gates (#1813)
  ops/attest/README.md
  ops/attest/fixtures/release-manifest-blocked.json
  ops/attest/fixtures/release-manifest-pass.json
  ops/attest/image_attestation_gate.py
  ops/grafana/dashboards/supply-chain-risk.json
  ops/security/cve_budget/README.md
  ops/security/cve_budget/config.yaml
  ops/security/cve_budget/fixtures/sample-failing-build.txt
  ops/security/cve_budget/fixtures/sbom-conductor-api.json
  ops/security/cve_budget/fixtures/sbom-inference-worker.json
  ops/security/cve_budget/fixtures/sbom-reporting-api.json
  ops/security/cve_budget/fixtures/vuln-report-fail.json
  ops/security/cve_budget/fixtures/vuln-report-pass.json
  ops/security/cve_budget/gate.py
  policy/conftest/kubernetes_admission.rego
  policy/opa/README.md
  policy/opa/cve_budget.rego
  reports/security-weekly-2025-09-01.md
  runs/cve-budget-pass.json
  runs/release-blocked.json
  runs/release-pass.json
Labels: none

docs: expand merge-train readiness snapshot (#1811)
  GREEN_TRAIN_STATUS_REPORT.md
Labels: none

docs: add Proof-First Core GA sprint kit (#1808)
  docs/project_management/proof-first-core-ga-sprint-kit.md
Labels: none

feat: integrate shared asset manager across systems (#1802)
  packages/shared/asset-manager.ts
  services/data-quality/src/lineage-tracker.ts
  src/quantum/QuantumCrypto.ts
Labels: perf:strict

feat: enrich IntelCraft graph ingestion toolkit (#1801)
  intelgraph/README.md
  intelgraph/__init__.py
  intelgraph/graph_analytics/core_analytics.py
  intelgraph/intelcraft/__init__.py
  intelgraph/intelcraft/integration.py
  intelgraph/tests/test_intelcraft_integration.py
  simulated_ingestion/ingestion_pipeline.py
Labels: none

docs: expand abac step-up plan (#1800)
  docs/identity-policy-abac-step-up-plan.md
Labels: none

Update kickoff checklist with evidence tracking (#1799)
  docs/project_management/paved-road-ci-cd-kickoff.md
Labels: none

docs: expand data spine kickoff plan (#1798)
  docs/operations/data-spine-kickoff-plan.md
Labels: none

Finalize Disclosure Packager kickoff launch plan (#1797)
  docs/disclosure-packager-kickoff.md
Labels: none

Enhance Risk & Compliance automation MVP planning (#1796)
  docs/risk/risk-compliance-automation-mvp.md
Labels: none

Add proof-first GA vertical slice implementation (#1792)
  docs/sprints/proof-first-core-ga.md
  ga-graphai/packages/cost-guard/AGENTS.md
  ga-graphai/packages/cost-guard/package.json
  ga-graphai/packages/cost-guard/src/index.ts
  ga-graphai/packages/cost-guard/src/types.ts
  ga-graphai/packages/cost-guard/tests/costGuard.spec.ts
  ga-graphai/packages/cost-guard/tsconfig.json
  ga-graphai/packages/er-service/AGENTS.md
  ga-graphai/packages/er-service/package.json
  ga-graphai/packages/er-service/src/index.ts
  ga-graphai/packages/er-service/src/types.ts
  ga-graphai/packages/er-service/tests/erService.spec.ts
  ga-graphai/packages/er-service/tests/fixtures/golden.json
  ga-graphai/packages/er-service/tsconfig.json
  ga-graphai/packages/prov-ledger/package.json
  ga-graphai/packages/prov-ledger/src/index.ts
  ga-graphai/packages/prov-ledger/src/manifest.ts
  ga-graphai/packages/prov-ledger/tests/manifest.test.ts
  ga-graphai/packages/prov-ledger/vitest.config.ts
  ga-graphai/packages/query-copilot/AGENTS.md
  ga-graphai/packages/query-copilot/package.json
  ga-graphai/packages/query-copilot/src/index.ts
  ga-graphai/packages/query-copilot/src/nlToCypher.ts
  ga-graphai/packages/query-copilot/src/sandbox.ts
  ga-graphai/packages/query-copilot/src/types.ts
  ga-graphai/packages/query-copilot/src/undoRedo.ts
  ga-graphai/packages/query-copilot/tests/nlToCypher.spec.ts
  ga-graphai/packages/query-copilot/tsconfig.json
  ga-graphai/packages/web/src/index.ts
  ga-graphai/packages/web/src/tri-pane.ts
  ga-graphai/packages/web/tests/canvas.test.ts
  ga-graphai/packages/web/tests/triPane.test.ts
Labels: audit:strict

feat: integrate activities engagement module (#1790)
  intelgraph/client/src/App.jsx
  intelgraph/client/src/components/activities/ActivitiesPage.jsx
  intelgraph/client/src/components/auth/LoginPage.jsx
  intelgraph/client/src/components/common/Layout.jsx
  intelgraph/client/src/components/common/NotFound.jsx
  intelgraph/client/src/components/dashboard/Dashboard.jsx
  intelgraph/client/src/components/graph/GraphExplorer.jsx
  intelgraph/client/src/components/investigation/InvestigationPage.jsx
  intelgraph/client/src/graphql/mutations.js
  intelgraph/client/src/main.jsx
  intelgraph/client/src/services/apollo.js
  intelgraph/client/src/store/index.js
  intelgraph/client/src/store/slices/authSlice.js
  intelgraph/client/src/store/slices/graphSlice.js
  intelgraph/client/src/store/slices/uiSlice.js
  intelgraph/client/src/styles/globals.css
  intelgraph/client/src/styles/theme.js
  intelgraph/server/server.js
  intelgraph/server/src/modules/activities/config.js
  intelgraph/server/src/modules/activities/engagementPlan.js
  intelgraph/server/src/modules/activities/metrics.js
Labels: none

Add Proof-First Core GA sprint kit (#1788)
  docs/sprints/PROOF_FIRST_CORE_GA_SPRINT_KIT.md
Labels: none

feat: deliver disclosure packager exports (#1787)
  .evidence/disclosure-packager/2024-12-06.md
  .github/workflows/attest-provenance.yml
  adr/0002-disclosure-packager.md
  alertmanager/route-mc-v035.yml
  client/src/App.router.jsx
  client/src/pages/DisclosurePackagerPage.tsx
  client/src/services/disclosures.ts
  controllers/admission/disclosure-bundle-policy.yaml
  dashboard/grafana/disclosure-packager.json
  docs/disclosure-packager-user-guide.md
  docs/releases/disclosure-packager-release-notes.md
  scripts/verify-disclosure-signing.sh
  server/src/app.ts
  server/src/disclosure/export-service.ts
  server/src/metrics/disclosureMetrics.ts
  server/src/routes/__tests__/disclosures.test.ts
  server/src/routes/disclosures.ts
Labels: audit:strict

docs: deliver observability first assets (#1786)
  docs/observability/OBSERVABILITY_FIRST_TELEMETRY_SDKS_SLO_KITS.md
  docs/observability/alerts/observability-first-alerts.yaml
  docs/observability/dashboards/availability-reliability.json
  docs/observability/dashboards/infrastructure-saturation.json
  docs/observability/dashboards/performance-latency.json
  docs/observability/dashboards/service-overview.json
  docs/observability/evidence/README.md
  docs/observability/metrics_catalogue.yaml
  docs/observability/runbooks/error-budget-runbook.md
  docs/observability/runbooks/latency-slo-runbook.md
  docs/observability/runbooks/saturation-runbook.md
  docs/observability/slo/sample-service-slo.md
Labels: none

docs: outline canary reliability mvp plan (#1784)
  docs/release/canary_manager_synthetic_probes_auto_rollback.md
Labels: none

.github/labeler.yml:

ui:smoke:
  - 'apps/**'
  - '.github/k6/**'

ops:strict:
  - 'charts/**'
  - 'helm/**'
  - 'deploy/**'
  - 'infra/**'

audit:strict:
  - '**/tsconfig*.json'
  - 'pnpm-workspace.yaml'
  - 'package.json'
  - 'scripts/monorepo_heal.mjs'
  - '.github/workflows/**'

perf:strict:
  - 'apps/**'
  - 'services/**'
