Repository BrianCLong/summit, changes with the labels that .github/labeler.yml gives for each.
All labels: ui:smoke, ops:strict, audit:strict, perf:strict

feat: add tag protection ruleset script
  scripts/ruleset_protect_tags.sh
Labels: none

ci(core): toolchain pre-job for Node/PNPM standardization
  .github/workflows/_reusable-toolchain-setup.yml
Labels: audit:strict

Add release manifest verifier with strict enforcement
  scripts/verify-release-manifest.mjs
Labels: none

Add release verification Make targets
  Makefile
Labels: none

Add GitHub Actions workflow for strict release verification
  .github/workflows/release-verify.yml
Labels: audit:strict

ci(core): add auto-update workflow for PR branches (server-side, no force)
  .github/workflows/auto-update-prs.yml
Labels: audit:strict

ci(core): add auto-update workflow for PR branches (server-side, no force)
  .github/workflows/auto-update-prs.yml
Labels: audit:strict

ci(deploy-preview): prevent parallel preview races via concurrency group
  .github/workflows/deploy-preview.yml
Labels: audit:strict

ci(release): add release-verify workflow; Make targets; strict/expect flags
  .github/workflows/release-verify.yml
Labels: audit:strict

ci(release): add release-verify workflow; Make targets; strict/expect flags
  Makefile
Labels: none

ci(release): add release-verify workflow; Make targets; strict/expect flags
  scripts/verify-release-manifest.mjs
Labels: none

feat(release): harden release verification with strict mode and CI enforcement
  .github/workflows/release-verify.yml
  HARDENING_IMPROVEMENTS_SUMMARY.md
  Makefile
  scripts/verify-release-manifest.mjs
Labels: audit:strict

ci(deploy-preview): apply concurrency and safe tag verifier hygiene
  .github/workflows/deploy-preview.yml
Labels: audit:strict

docs(release): add final release validation summary for v2025.10.07 GA
  FINAL_RELEASE_VALIDATION_SUMMARY.md
Labels: none

fix(ci): correct YAML syntax in auto-green workflow
  .github/workflows/auto-green.yml
Labels: audit:strict

fix(ci): correct YAML syntax in auto-green workflow line 38
  .github/workflows/auto-green.yml
Labels: audit:strict

ops(runbook): add final GA hardening locks and niceties
  .github/workflows/nightly-verify.yml
  RUNBOOK.md
  ops/grafana/ga-health-dashboard.json
  ops/tag-protection-ruleset.json
Labels: audit:strict

ci: stabilize lane-stable on main
  .github/workflows/auto-green.yml
  .github/workflows/batch-merge.yml
  .github/workflows/build-and-push.yml
  .github/workflows/helm-health-smoke.yml
  .github/workflows/lane-fast.yml
  .github/workflows/lane-nightly.yml
  .github/workflows/pr-auto-update.yml
  Makefile
  ops/compose/docker-compose.yml
  ops/compose/nginx.conf
  scripts/smoke_orchestrator.sh
  tests/FLAKY.md
Labels: audit:strict

ci(test): fast-lane quarantine + helm safe guards
  .pre-commit-config.yaml
  Makefile
  __mocks__/archiver.ts
  __mocks__/argon2.ts
  infra/helm/intelgraph/Chart.lock
  infra/helm/intelgraph/templates/_safe.tpl
  infra/helm/intelgraph/templates/deployment-server.yaml
  infra/helm/intelgraph/values/lint-defaults.yaml
  jest.fast.config.ts
  jest.nightly.config.ts
  package.json
  test/setup-tests.ts
  test/utils/mockDb.ts
  tests/FLAKY.ignore
Labels: ops:strict, audit:strict

docs/ops: polish GA + nightly verify + adoption templates
  summit-release-v0.1.0/.github/ISSUE_TEMPLATE/adoption.yml
  summit-release-v0.1.0/.github/labels.yml
  summit-release-v0.1.0/.github/workflows/nightly-verify.yml
  summit-release-v0.1.0/README.md
  summit-release-v0.1.0/RELEASE_LIFECYCLE.md
  summit-release-v0.1.0/bootstrap.sh
Labels: none

docs(release): add GA sign-off packet and supporting documents
  docs/releases/ga-signoff/GA_QUICK_SIGNOFF.md
  docs/releases/ga-signoff/GA_SIGNOFF_PACKET.md
  docs/releases/ga-signoff/GA_SIGNOFF_SHEET.md
Labels: none

ci(check): enforce GA packet and link presence to prevent regressions
  docs/releases/2025.10.07_MAESTRO_CONDUCTOR_GA_ANNOUNCEMENT.md
  scripts/check-ga-packet.sh
Labels: none

feat(release): add GA release artifact generation and verification system
  .github/workflows/check-ga-packet.yml
  dist/evidence-v0.3.2-mc-nightly.json
  dist/release-attestation-v2025.10.07.jsonld
  dist/release-manifest-v2025.10.07.yaml
Labels: audit:strict

ci(test-integration): stabilize Integration lane (in-process) + shared GraphQL client
  Developer/summit-jest/jest.integration.config.cjs
  tests/integration/db.contract.test.ts
  tests/integration/example.graphql.test.ts
  tests/integration/maestro_flow.test.ts
  tests/integration/utils/graphqlClient.ts
  tests/integration/utils/httpClient.ts
  tests/integration/utils/testServer.ts
Labels: none

feat(release): add final GA release verification script
  scripts/final-ga-verification.sh
Labels: none

docs(release): add final GA release implementation summary
  FINAL_GA_RELEASE_IMPLEMENTATION_SUMMARY.md
Labels: none

docs(release): add FINAL_VERIFICATION.md and link from GA announcement
  docs/releases/2025.10.07_FINAL_VERIFICATION.md
  docs/releases/2025.10.07_MAESTRO_CONDUCTOR_GA_ANNOUNCEMENT.md
Labels: none

ci(check): enforce ga-signoff folder + links
  .github/workflows/check-ga-packet.yml
  docs/releases/2025.10.07_MAESTRO_CONDUCTOR_GA_ANNOUNCEMENT.md
  docs/releases/ga-signoff/GA_QUICK_SIGNOFF.md
  docs/releases/ga-signoff/GA_SIGNOFF_PACKET.md
  docs/releases/ga-signoff/GA_SIGNOFF_SHEET.md
  scripts/check-ga-packet.sh
Labels: audit:strict

docs(release): add FINAL_GA_RELEASE_SUMMARY.md and update verification scripts
  docs/releases/2025.10.07_MAESTRO_CONDUCTOR_GA_ANNOUNCEMENT.md
  docs/releases/FINAL_GA_RELEASE_SUMMARY.md
  scripts/check-ga-packet.sh
  scripts/verify-release-manifest.mjs
Labels: none

fix(comet): track merge train queue snapshot
  status/merge-train-queue.md
Labels: none

fix: remove redundant babel config
  client/babel.config.js
  client/src/App.router.jsx
  client/src/features/orchestrator/OrchestratorDashboard.tsx
  client/src/services/orchestrator/index.ts
  client/src/services/orchestrator/moduleBase.ts
  client/src/services/orchestrator/modules.ts
  client/src/services/orchestrator/orchestrator.test.ts
  client/src/services/orchestrator/orchestrator.ts
  client/src/services/orchestrator/presets.ts
  client/src/services/orchestrator/types.ts
Labels: none

fix: harden orchestration and ai pipelines
  client/babel.config.js
  client/src/App.router.jsx
  client/src/features/orchestrator/OrchestratorDashboard.tsx
  client/src/services/orchestrator/index.ts
  client/src/services/orchestrator/moduleBase.ts
  client/src/services/orchestrator/modules.ts
  client/src/services/orchestrator/orchestrator.test.ts
  client/src/services/orchestrator/orchestrator.ts
  client/src/services/orchestrator/presets.ts
  client/src/services/orchestrator/types.ts
  jest.setup.js
  server/src/copilot/orchestrator.enhanced.js
  server/src/copilot/store.postgres.js
  server/src/services/AIExtractionService.js
  server/src/services/EnterpriseSecurityService.js
  server/src/services/EntityCorrelationEngine.js
  server/src/services/SimulationEngineService.js
  server/src/services/VisualizationService.js
Labels: none

docs: align superset plan with current capabilities
  ORCHESTRATOR_SUPERSET_CAPABILITIES.md
Labels: none

docs: define gap closure delivery plan
  ORCHESTRATOR_SUPERSET_CAPABILITIES.md
Labels: none

ci(test-fast): quarantine flaky plugin hooks
  .gitignore
  server/src/tests/pluginService.test.js
Labels: none

ci(test): enable scoped integration lane and stabilize plugin suite
  .github/workflows/lane-integration.yml
  Developer/summit-jest/jest.integration.config.cjs
  package.json
  server/src/tests/plugin/__fixtures__/analytics.json
  server/src/tests/pluginService.test.js
  server/src/tests/utils/metrics.js
  server/src/tests/utils/priority.js
  tests/integration/setup-tests.ts
Labels: audit:strict

test: stub integration suites for default lane
  Developer/summit-jest/jest.integration.config.cjs
  server/src/tests/integration/graphql.test.ts
  tests/graphql/provenance.link.test.ts
  tests/integration/__mocks__/archiver.ts
  tests/integration/__mocks__/evidenceRepo.ts
  tests/integration/__mocks__/graphql-tester.js
  tests/integration/__mocks__/services-api.ts
  tests/integration/api.test.js
  tests/integration/db.test.ts
  tests/integration/export-integrity.test.ts
  tests/integration/maestro_flow.test.ts
Labels: none

chore(ci): enforce no .only & fail on console.error in tests
  .eslintrc.cjs
  .pre-commit-config.yaml
  package.json
  server/tests/setup/jest.setup.js
  test/jest.setup.js
  tests/integration/README.md
  tests/integration/setup-tests.ts
Labels: audit:strict

ci(integration): lint tests before running lane
  .github/workflows/lane-integration.yml
Labels: audit:strict

chore(ci): surface test guard status in docs and CI
  .github/matchers/test-guards.json
  .github/pull_request_template.md
  .github/workflows/lane-integration.yml
  README.md
  package.json
  scripts/guard-tests.js
Labels: audit:strict

.github/labeler.yml:

ui:smoke:
  - 'apps/**'
  - '.github/k6/**'

ops:strict:
  - 'charts/**'
  - 'helm/**'
  - 'deploy/**'
  - 'infra/**'

audit:strict:
  - '**/tsconfig*.json'
  - 'pnpm-workspace.yaml'
  - 'package.json'
  - 'scripts/monorepo_heal.mjs'
  - '.github/workflows/**'

perf:strict:
  - 'apps/**'
  - 'services/**'
