Repository BrianCLong/summit, changes with the owners that CODEOWNERS names for each.
All owners: @BrianCLong, @team-core, @team-collab, @team-analytics, @team-security, @team-export, @team-obs, @team-web

CODEOWNERS:

# CODEOWNERS file for IntelGraph Platform
# This file defines code ownership and auto-assigns reviewers for different parts of the codebase

# Global fallback - at least one approval required
* @BrianCLong

# Client/Frontend - React, UI, UX
client/** @BrianCLong
*.tsx @BrianCLong  
*.jsx @BrianCLong

# Server/Backend - Node.js, GraphQL, APIs
server/** @BrianCLong
*.ts @BrianCLong

# Database & Schema
server/src/db/** @BrianCLong
server/src/graphql/schemas/** @BrianCLong
**/migrations/** @BrianCLong

# AI/ML Services - Require AI domain expertise
server/src/services/aiAnalysis.ts @BrianCLong
server/src/graphql/resolvers/aiAnalysis.ts @BrianCLong
client/src/components/ai/** @BrianCLong

# Security & Authentication - Require security review
server/src/lib/auth.ts @BrianCLong
**/auth/** @BrianCLong
**/security/** @BrianCLong
.gitleaks.toml @BrianCLong
.zap/rules.tsv @BrianCLong
codeql-config.yml @BrianCLong
**/security-gates.yml @BrianCLong

# Infrastructure & DevOps
.github/** @BrianCLong
docker* @BrianCLong
*.yml @BrianCLong
*.yaml @BrianCLong

# Configuration files
package.json @BrianCLong
*.config.* @BrianCLong
.env* @BrianCLong

# Documentation - Anyone can review
*.md
docs/** 

# High-impact files requiring architect approval
CODEOWNERS @BrianCLong
.github/workflows/** @BrianCLong

# GraphQL Modules & Apps
/server/src/graphql/modules/core/          @team-core
/server/src/graphql/modules/collab/        @team-collab
/server/src/graphql/modules/analytics/     @team-analytics
/server/src/graphql/modules/security/      @team-security
/server/src/graphql/modules/exporting/     @team-export
/server/src/graphql/modules/observability/ @team-obs
/apps/web/                                 @team-web
/api/                                      @team-analytics

🌌 TRANSCENDENCE MARKERS: Beyond Physical Reality 🌌
  TRANSCENDENCE_MARKERS.md
Owners: none

🌌 TRANSCENDENCE MARKERS: Beyond Physical Reality 🌌
  TRANSCENDENCE_MARKERS.md
Owners: none

test: add smart wait helper for playwright tests
  client/tests/e2e/persisted-queries-ws.spec.ts
  client/tests/e2e/subscriptions.spec.ts
  client/tests/e2e/utils/wait.ts
Owners: @BrianCLong

test: add smart wait helper for playwright tests
  client/tests/e2e/persisted-queries-ws.spec.ts
  client/tests/e2e/subscriptions.spec.ts
  client/tests/e2e/utils/wait.ts
Owners: @BrianCLong

chore: restore package-lock.json
  config/experiments.yaml
  docs/experimentation.md
  scripts/experiment-report.py
  server/package.json
  server/src/experimentation/example.ts
  server/src/experimentation/experiment.test.ts
  server/src/experimentation/index.ts
Owners: @BrianCLong

chore: restore package-lock.json
  config/experiments.yaml
  docs/experimentation.md
  scripts/experiment-report.py
  server/package.json
  server/src/experimentation/example.ts
  server/src/experimentation/experiment.test.ts
  server/src/experimentation/index.ts
Owners: @BrianCLong

refactor: remove lockfile from rapid service
  .github/workflows/rapid-service.yml
  services/rapid-service/.gitignore
  services/rapid-service/Dockerfile
  services/rapid-service/Makefile
  services/rapid-service/jest.config.js
  services/rapid-service/openapi.yaml
  services/rapid-service/package.json
  services/rapid-service/seed.js
  services/rapid-service/src/config.js
  services/rapid-service/src/index.js
  services/rapid-service/src/logger.js
  services/rapid-service/test/health.test.js
Owners: @BrianCLong

refactor: remove lockfile from rapid service
  .github/workflows/rapid-service.yml
  services/rapid-service/.gitignore
  services/rapid-service/Dockerfile
  services/rapid-service/Makefile
  services/rapid-service/jest.config.js
  services/rapid-service/openapi.yaml
  services/rapid-service/package.json
  services/rapid-service/seed.js
  services/rapid-service/src/config.js
  services/rapid-service/src/index.js
  services/rapid-service/src/logger.js
  services/rapid-service/test/health.test.js
Owners: @BrianCLong

feat: add sdk service endpoints
  server/src/app.ts
  server/src/appFactory.ts
  server/src/routes/sdk.ts
  server/tests/sdkRoutes.test.ts
Owners: @BrianCLong

feat: add sdk service endpoints
  server/src/app.ts
  server/src/appFactory.ts
  server/src/routes/sdk.ts
  server/tests/sdkRoutes.test.ts
Owners: @BrianCLong

chore(gateway): ignore package locks
  .github/workflows/gateway-bff.yml
  gateway/graphql-bff/.eslintrc.cjs
  gateway/graphql-bff/.gitignore
  gateway/graphql-bff/__tests__/contract.test.ts
  gateway/graphql-bff/__tests__/security.test.ts
  gateway/graphql-bff/package.json
  gateway/graphql-bff/src/index.ts
  gateway/graphql-bff/subgraphs.yaml
  gateway/graphql-bff/tsconfig.json
  ops/gateway/Chart.yaml
  ops/gateway/envoy.yaml
  ops/gateway/templates/deployment.yaml
  ops/gateway/templates/service.yaml
  ops/gateway/values.yaml
  packages/sdk/gateway-js/.eslintrc.cjs
  packages/sdk/gateway-js/.gitignore
  packages/sdk/gateway-js/package.json
  packages/sdk/gateway-js/src/index.test.ts
  packages/sdk/gateway-js/src/index.ts
  packages/sdk/gateway-js/tsconfig.json
Owners: @BrianCLong

chore(gateway): ignore package locks
  .github/workflows/gateway-bff.yml
  gateway/graphql-bff/.eslintrc.cjs
  gateway/graphql-bff/.gitignore
  gateway/graphql-bff/__tests__/contract.test.ts
  gateway/graphql-bff/__tests__/security.test.ts
  gateway/graphql-bff/package.json
  gateway/graphql-bff/src/index.ts
  gateway/graphql-bff/subgraphs.yaml
  gateway/graphql-bff/tsconfig.json
  ops/gateway/Chart.yaml
  ops/gateway/envoy.yaml
  ops/gateway/templates/deployment.yaml
  ops/gateway/templates/service.yaml
  ops/gateway/values.yaml
  packages/sdk/gateway-js/.eslintrc.cjs
  packages/sdk/gateway-js/.gitignore
  packages/sdk/gateway-js/package.json
  packages/sdk/gateway-js/src/index.test.ts
  packages/sdk/gateway-js/src/index.ts
  packages/sdk/gateway-js/tsconfig.json
Owners: @BrianCLong

feat: scaffold tenant admin service and sdk
  apps/web/src/features/org-admin/OrgAdminSettings.jsx
  apps/web/src/features/org-admin/OrgAdminSettings.test.jsx
  ops/tenant/README.md
  ops/tenant/idp-metadata.xml
  ops/tenant/scim-mapping.json
  packages/sdk/tenant-js/index.js
  packages/sdk/tenant-js/index.test.js
  packages/sdk/tenant-js/package.json
  services/tenant-admin/index.js
  services/tenant-admin/index.test.js
  services/tenant-admin/package.json
Owners: @team-web, @BrianCLong

feat: scaffold tenant admin service and sdk
  apps/web/src/features/org-admin/OrgAdminSettings.jsx
  apps/web/src/features/org-admin/OrgAdminSettings.test.jsx
  ops/tenant/README.md
  ops/tenant/idp-metadata.xml
  ops/tenant/scim-mapping.json
  packages/sdk/tenant-js/index.js
  packages/sdk/tenant-js/index.test.js
  packages/sdk/tenant-js/package.json
  services/tenant-admin/index.js
  services/tenant-admin/index.test.js
  services/tenant-admin/package.json
Owners: @team-web, @BrianCLong

feat: add forge hermetic build workflow
  .github/workflows/forge-ci.yml
  forge
Owners: @BrianCLong

feat: add forge hermetic build workflow
  .github/workflows/forge-ci.yml
  forge
Owners: @BrianCLong

docs: expand security action plan
  docs/SECURITY_ACTION_PLAN.md
  docs/THREAT_MODEL.md
Owners: none

docs: expand security action plan
  docs/SECURITY_ACTION_PLAN.md
  docs/THREAT_MODEL.md
Owners: none

docs: outline provenance ledger architecture
  docs/architecture/prov-ledger.md
Owners: none

docs: outline provenance ledger architecture
  docs/architecture/prov-ledger.md
Owners: none

feat: add NL to Cypher service stub
  server/src/ai/nl-to-cypher/model-adapter.ts
  server/src/ai/nl-to-cypher/nl-to-cypher.service.ts
  server/tests/nl-to-cypher.service.test.ts
Owners: @BrianCLong

feat: add NL to Cypher service stub
  server/src/ai/nl-to-cypher/model-adapter.ts
  server/src/ai/nl-to-cypher/nl-to-cypher.service.ts
  server/tests/nl-to-cypher.service.test.ts
Owners: @BrianCLong

feat: add real-time streaming skeleton
  streaming/README.md
  streaming/alerts-api/package.json
  streaming/alerts-api/src/index.ts
  streaming/ingest-gw/package.json
  streaming/ingest-gw/src/index.ts
  streaming/stream-jobs/build.gradle.kts
  streaming/stream-jobs/src/main/kotlin/Topology.kt
Owners: @BrianCLong

feat: add real-time streaming skeleton
  streaming/README.md
  streaming/alerts-api/package.json
  streaming/alerts-api/src/index.ts
  streaming/ingest-gw/package.json
  streaming/ingest-gw/src/index.ts
  streaming/stream-jobs/build.gradle.kts
  streaming/stream-jobs/src/main/kotlin/Topology.kt
Owners: @BrianCLong

feat: add privacy tokenization and differential privacy stubs
  docs/privacy.md
  services/privacy/src/differentialPrivacy.ts
  services/privacy/src/index.ts
  services/privacy/src/tokenization.ts
Owners: @BrianCLong

feat: add privacy tokenization and differential privacy stubs
  docs/privacy.md
  services/privacy/src/differentialPrivacy.ts
  services/privacy/src/index.ts
  services/privacy/src/tokenization.ts
Owners: @BrianCLong

feat: scaffold entity resolution service
  client/src/features/er-console/index.tsx
  connectors/README.md
  server/src/graphql/resolvers/erResolvers.ts
  server/src/graphql/resolvers/index.ts
  server/src/graphql/schema-combined.ts
  server/src/graphql/schema.js
  server/src/graphql/types/erTypes.ts
  services/er/__init__.py
  services/er/blocking.py
  services/er/cli.py
  services/er/scoring.py
Owners: @BrianCLong

feat: add supply chain security pipeline
  .github/workflows/release.yml
  docs/supply-chain.md
  infra/policy/required-signatures.rego
  tools/trustctl/trustctl.js
Owners: @BrianCLong

feat: add collaboration stubs
  client/src/features/collab/PresenceAvatars.test.tsx
  client/src/features/collab/PresenceAvatars.tsx
  client/src/features/collab/index.ts
  server/src/graphql/resolvers-combined.ts
  server/src/graphql/resolvers.collab.js
  server/src/graphql/schema-combined.ts
  server/src/graphql/schema.collab.js
  server/tests/collab.resolvers.test.ts
  services/collab/README.md
  services/collab/src/index.ts
Owners: @BrianCLong

feat: add collaboration stubs
  client/src/features/collab/PresenceAvatars.test.tsx
  client/src/features/collab/PresenceAvatars.tsx
  client/src/features/collab/index.ts
  server/src/graphql/resolvers-combined.ts
  server/src/graphql/resolvers.collab.js
  server/src/graphql/schema-combined.ts
  server/src/graphql/schema.collab.js
  server/tests/collab.resolvers.test.ts
  services/collab/README.md
  services/collab/src/index.ts
Owners: @BrianCLong

feat: add governance stubs and middleware
  server/src/app.ts
  server/src/middleware/governance.ts
  server/src/routes/governance.ts
  server/tests/governance.test.ts
Owners: @BrianCLong

feat: add AI copilot query and rag service
  services/ai-copilot/demo.ipynb
  services/ai-copilot/src/main.py
  services/ai-copilot/tests/test_copilot.py
Owners: @BrianCLong

feat: add AI copilot query and rag service
  services/ai-copilot/demo.ipynb
  services/ai-copilot/src/main.py
  services/ai-copilot/tests/test_copilot.py
Owners: @BrianCLong

feat: add manifest verification CLI
  prov-ledger/app/manifest.py
  prov-ledger/docs/example_manifest.json
  prov-ledger/tests/test_manifest_cli.py
Owners: @BrianCLong

feat: add manifest verification CLI
  prov-ledger/app/manifest.py
  prov-ledger/docs/example_manifest.json
  prov-ledger/tests/test_manifest_cli.py
Owners: @BrianCLong

feat: add cost guard and observability stubs
  docs/ops/runbooks/chaos-drill.md
  helm/monitoring/README.md
  ops/telemetry/README.md
  ops/telemetry/slo-dashboard.json
  reliability-service/archive_tiering.py
  reliability-service/main.py
  reliability-service/requirements.txt
  server/src/app.ts
  server/src/middleware/queryBudgeter.ts
  server/src/middleware/slowQueryKiller.ts
Owners: @BrianCLong

feat: add tri-pane explorer with keyboard navigation
  client/src/App.jsx
  client/src/features/explorer/Explorer.jsx
  client/src/features/explorer/ExplorerContext.js
  client/src/features/explorer/GraphPane.jsx
  client/src/features/explorer/MapPane.jsx
  client/src/features/explorer/TimelinePane.jsx
  client/src/features/explorer/data.js
Owners: @BrianCLong

feat: add tri-pane explorer with keyboard navigation
  client/src/App.jsx
  client/src/features/explorer/Explorer.jsx
  client/src/features/explorer/ExplorerContext.js
  client/src/features/explorer/GraphPane.jsx
  client/src/features/explorer/MapPane.jsx
  client/src/features/explorer/TimelinePane.jsx
  client/src/features/explorer/data.js
Owners: @BrianCLong

feat: scaffold hypothesis workbench
  client/src/features/hypotheses/components/HypothesisWorkbench.tsx
  client/src/features/hypotheses/store.test.ts
  client/src/features/hypotheses/store.ts
  client/src/features/reports/NarrativeBuilder.test.tsx
  client/src/features/reports/NarrativeBuilder.tsx
  server/src/hypotheses/index.ts
  server/tests/hypotheses.test.ts
Owners: @BrianCLong

feat: scaffold hypothesis workbench
  client/src/features/hypotheses/components/HypothesisWorkbench.tsx
  client/src/features/hypotheses/store.test.ts
  client/src/features/hypotheses/store.ts
  client/src/features/reports/NarrativeBuilder.test.tsx
  client/src/features/reports/NarrativeBuilder.tsx
  server/src/hypotheses/index.ts
  server/tests/hypotheses.test.ts
Owners: @BrianCLong
