Repository BrianCLong/summit, changes with the owners that CODEOWNERS names for each.
All owners: @BrianCLong, @team-core, @team-collab, @team-analytics, @team-security, @team-export, @team-obs, @team-web

docs: relocate Sprint 14 plan
  docs/project_management/README.md
  docs/project_management/sprint-14-plan.md
Owners: none

docs: deepen adversarial threat simulation sandbox
  docs/ADVERSARIAL_LLM_THREAT_SIMULATION_SANDBOX.md
  docs/project_management/epics/Real-Time_Threat_Simulation_&_'What-If'_Analysis.md
Owners: none

docs: deepen adversarial threat simulation sandbox
  docs/ADVERSARIAL_LLM_THREAT_SIMULATION_SANDBOX.md
  docs/project_management/epics/Real-Time_Threat_Simulation_&_'What-If'_Analysis.md
Owners: none

feat: add red-blue simulation skeleton
  active-measures-module/src/ai/red-blue-simulation.ts
  active-measures-module/tests/red-blue-simulation.test.ts
  docs/red-blue-simulation-mode.md
Owners: @BrianCLong

feat: add red-blue simulation skeleton
  active-measures-module/src/ai/red-blue-simulation.ts
  active-measures-module/tests/red-blue-simulation.test.ts
  docs/red-blue-simulation-mode.md
Owners: @BrianCLong

docs: add sandbox overview
  docs/ADVERSARIAL_LLM_THREAT_SIMULATION_SANDBOX.md
  docs/project_management/epics/Real-Time_Threat_Simulation_&_'What-If'_Analysis.md
Owners: none

docs: add sandbox overview
  docs/ADVERSARIAL_LLM_THREAT_SIMULATION_SANDBOX.md
  docs/project_management/epics/Real-Time_Threat_Simulation_&_'What-If'_Analysis.md
Owners: none

feat: add red-blue simulation skeleton (#1057)
  active-measures-module/src/ai/red-blue-simulation.ts
  active-measures-module/tests/red-blue-simulation.test.ts
  docs/red-blue-simulation-mode.md
Owners: @BrianCLong

feat: add red-blue simulation skeleton (#1057)
  active-measures-module/src/ai/red-blue-simulation.ts
  active-measures-module/tests/red-blue-simulation.test.ts
  docs/red-blue-simulation-mode.md
Owners: @BrianCLong

feat: add graphql core module (#1023)
  apps/web/src/generated/graphql-types.ts
  server/codegen.yml
  server/src/graphql/modules/core/resolvers.ts
  server/src/graphql/modules/core/services/ai.ts
  server/src/graphql/modules/core/services/graph-store.ts
  server/src/graphql/modules/core/typeDefs.ts
  server/src/graphql/modules/security/directives.ts
  server/src/graphql/modules/services-types.ts
Owners: @team-web, @BrianCLong, @team-core, @team-security

feat: add graphql core module (#1023)
  apps/web/src/generated/graphql-types.ts
  server/codegen.yml
  server/src/graphql/modules/core/resolvers.ts
  server/src/graphql/modules/core/services/ai.ts
  server/src/graphql/modules/core/services/graph-store.ts
  server/src/graphql/modules/core/typeDefs.ts
  server/src/graphql/modules/security/directives.ts
  server/src/graphql/modules/services-types.ts
Owners: @team-web, @BrianCLong, @team-core, @team-security

feat: add OSINT threat actor profiling agent (#1055)
  python/osint_threat_actor_agent.py
  python/tests/test_osint_profiling_agent.py
Owners: @BrianCLong

feat: add OSINT threat actor profiling agent (#1055)
  python/osint_threat_actor_agent.py
  python/tests/test_osint_profiling_agent.py
Owners: @BrianCLong

CODEOWNERS:

# CODEOWNERS file for IntelGraph Platform
# This file defines code ownership and auto-assigns reviewers for different parts of the codebase

# Global fallback - at least one approval required
* @BrianCLong

# Client/Frontend - React, UI, UX
client/** @BrianCLong
*.tsx @BrianCLong  
*.jsx @BrianCLong

# Server/Backend - Node.js, GraphQL, APIs
server/** @BrianCLong
*.ts @BrianCLong

# Database & Schema
server/src/db/** @BrianCLong
server/src/graphql/schemas/** @BrianCLong
**/migrations/** @BrianCLong

# AI/ML Services - Require AI domain expertise
server/src/services/aiAnalysis.ts @BrianCLong
server/src/graphql/resolvers/aiAnalysis.ts @BrianCLong
client/src/components/ai/** @BrianCLong

# Security & Authentication - Require security review
server/src/lib/auth.ts @BrianCLong
**/auth/** @BrianCLong
**/security/** @BrianCLong
.gitleaks.toml @BrianCLong
.zap/rules.tsv @BrianCLong
codeql-config.yml @BrianCLong
**/security-gates.yml @BrianCLong

# Infrastructure & DevOps
.github/** @BrianCLong
docker* @BrianCLong
*.yml @BrianCLong
*.yaml @BrianCLong

# Configuration files
package.json @BrianCLong
*.config.* @BrianCLong
.env* @BrianCLong

# Documentation - Anyone can review
*.md
docs/** 

# High-impact files requiring architect approval
CODEOWNERS @BrianCLong
.github/workflows/** @BrianCLong

# GraphQL Modules & Apps
/server/src/graphql/modules/core/          @team-core
/server/src/graphql/modules/collab/        @team-collab
/server/src/graphql/modules/analytics/     @team-analytics
/server/src/graphql/modules/security/      @team-security
/server/src/graphql/modules/exporting/     @team-export
/server/src/graphql/modules/observability/ @team-obs
/apps/web/                                 @team-web
/api/                                      @team-analytics
