Repository BrianCLong/summit, changes with the owners that CODEOWNERS names for each.
All owners: @BrianCLong, @team-core, @team-collab, @team-analytics, @team-security, @team-export, @team-obs, @team-web

CODEOWNERS:

# CODEOWNERS file for IntelGraph Platform
# This file defines code ownership and auto-assigns reviewers for different parts of the codebase

# Global fallback - at least one approval required
* @BrianCLong

# Client/Frontend - React, UI, UX
client/** @BrianCLong
*.tsx @BrianCLong  
*.jsx @BrianCLong

# Server/Backend - Node.js, GraphQL, APIs
server/** @BrianCLong
*.ts @BrianCLong

# Database & Schema
server/src/db/** @BrianCLong
server/src/graphql/schemas/** @BrianCLong
**/migrations/** @BrianCLong

# AI/ML Services - Require AI domain expertise
server/src/services/aiAnalysis.ts @BrianCLong
server/src/graphql/resolvers/aiAnalysis.ts @BrianCLong
client/src/components/ai/** @BrianCLong

# Security & Authentication - Require security review
server/src/lib/auth.ts @BrianCLong
**/auth/** @BrianCLong
**/security/** @BrianCLong
.gitleaks.toml @BrianCLong
.zap/rules.tsv @BrianCLong
codeql-config.yml @BrianCLong
**/security-gates.yml @BrianCLong

# Infrastructure & DevOps
.github/** @BrianCLong
docker* @BrianCLong
*.yml @BrianCLong
*.yaml @BrianCLong

# Configuration files
package.json @BrianCLong
*.config.* @BrianCLong
.env* @BrianCLong

# Documentation - Anyone can review
*.md
docs/** 

# High-impact files requiring architect approval
CODEOWNERS @BrianCLong
.github/workflows/** @BrianCLong

# GraphQL Modules & Apps
/server/src/graphql/modules/core/          @team-core
/server/src/graphql/modules/collab/        @team-collab
/server/src/graphql/modules/analytics/     @team-analytics
/server/src/graphql/modules/security/      @team-security
/server/src/graphql/modules/exporting/     @team-export
/server/src/graphql/modules/observability/ @team-obs
/apps/web/                                 @team-web
/api/                                      @team-analytics

refactor: remove package-lock to avoid binary diff
  .gitignore
  packages/sdk/prov-ledger-js/package.json
  packages/sdk/prov-ledger-js/src/index.js
  packages/sdk/prov-ledger-js/test/client.test.js
  services/prov-ledger/package.json
  services/prov-ledger/src/index.js
  services/prov-ledger/test/chain.test.js
  services/prov-ledger/test/export.test.js
  tools/claim-verifier/cli.js
  tools/claim-verifier/package.json
  tools/claim-verifier/test/verify.test.js
Owners: @BrianCLong

feat: add chain of custody utilities
  server/src/cases/chain-of-custody.ts
  server/src/cases/legal-hold-guard.ts
  server/tests/chain-of-custody.test.ts
  server/tests/legal-hold-guard.test.ts
Owners: @BrianCLong

feat: add chain of custody utilities
  server/src/cases/chain-of-custody.ts
  server/src/cases/legal-hold-guard.ts
  server/tests/chain-of-custody.test.ts
  server/tests/legal-hold-guard.test.ts
Owners: @BrianCLong

feat: scaffold brief studio modules
  cli/ig-brief/index.js
  cli/ig-brief/package.json
  client/src/features/briefstudio/BriefStudio.tsx
  client/src/features/briefstudio/index.ts
  server/src/graphql/resolvers/brief.ts
  server/src/graphql/resolvers/index.ts
  server/src/graphql/typeDefs/brief.gql
  services/brief/README.md
  services/brief/src/index.ts
Owners: @BrianCLong

feat: scaffold brief studio modules
  cli/ig-brief/index.js
  cli/ig-brief/package.json
  client/src/features/briefstudio/BriefStudio.tsx
  client/src/features/briefstudio/index.ts
  server/src/graphql/resolvers/brief.ts
  server/src/graphql/resolvers/index.ts
  server/src/graphql/typeDefs/brief.gql
  services/brief/README.md
  services/brief/src/index.ts
Owners: @BrianCLong

feat: scaffold federated services
  apps/web/src/features/federated-search/FederatedSearch.tsx
  cli/ig-dp/index.js
  cli/ig-federate/index.js
  cli/ig-psi/index.js
  server/federation.plan.test.ts
  server/graphql/federation/index.ts
  services/dp/__init__.py
  services/dp/noise.py
  services/federation/index.ts
  services/psi/__init__.py
  services/psi/oprf.py
Owners: @team-web, @BrianCLong

feat: scaffold federated services
  apps/web/src/features/federated-search/FederatedSearch.tsx
  cli/ig-dp/index.js
  cli/ig-federate/index.js
  cli/ig-psi/index.js
  server/federation.plan.test.ts
  server/graphql/federation/index.ts
  services/dp/__init__.py
  services/dp/noise.py
  services/federation/index.ts
  services/psi/__init__.py
  services/psi/oprf.py
Owners: @team-web, @BrianCLong

refactor: improve ER scoring and remove lockfile
  services/graph-core/docker-compose.yml
  services/graph-core/jest.config.cjs
  services/graph-core/openapi.yaml
  services/graph-core/package.json
  services/graph-core/sample-curl.sh
  services/graph-core/seed.sql
  services/graph-core/src/index.ts
  services/graph-core/src/middleware/correlationId.ts
  services/graph-core/src/routes/entities.ts
  services/graph-core/src/routes/er.ts
  services/graph-core/src/routes/query.ts
  services/graph-core/src/routes/relationships.ts
  services/graph-core/src/schema.ts
  services/graph-core/src/services/er.ts
  services/graph-core/src/services/store.ts
  services/graph-core/tests/entities.test.ts
  services/graph-core/tests/er.test.ts
  services/graph-core/tests/time.test.ts
  services/graph-core/tsconfig.json
Owners: @BrianCLong

refactor: improve ER scoring and remove lockfile
  services/graph-core/docker-compose.yml
  services/graph-core/jest.config.cjs
  services/graph-core/openapi.yaml
  services/graph-core/package.json
  services/graph-core/sample-curl.sh
  services/graph-core/seed.sql
  services/graph-core/src/index.ts
  services/graph-core/src/middleware/correlationId.ts
  services/graph-core/src/routes/entities.ts
  services/graph-core/src/routes/er.ts
  services/graph-core/src/routes/query.ts
  services/graph-core/src/routes/relationships.ts
  services/graph-core/src/schema.ts
  services/graph-core/src/services/er.ts
  services/graph-core/src/services/store.ts
  services/graph-core/tests/entities.test.ts
  services/graph-core/tests/er.test.ts
  services/graph-core/tests/time.test.ts
  services/graph-core/tsconfig.json
Owners: @BrianCLong

refactor(nl-cypher): drop lockfile and cache safe list
  .gitignore
  nl-cypher/jest.config.cjs
  nl-cypher/package.json
  nl-cypher/schema/safe.json
  nl-cypher/src/Engines/LlmRouter.ts
  nl-cypher/src/estimator.ts
  nl-cypher/src/executor.ts
  nl-cypher/src/index.ts
  nl-cypher/src/sanitizer.ts
  nl-cypher/src/translator.ts
  nl-cypher/src/validator.ts
  nl-cypher/tests/execute.spec.ts
  nl-cypher/tests/guard.spec.ts
  nl-cypher/tests/injection.spec.ts
  nl-cypher/tests/prompts.json
  nl-cypher/tests/translate.spec.ts
  nl-cypher/tsconfig.json
Owners: @BrianCLong

feat: add IoC normalization and confidence fusion
  server/src/utils/ioc.ts
  server/tests/utils/ioc.test.ts
Owners: @BrianCLong

feat: add IoC normalization and confidence fusion
  server/src/utils/ioc.ts
  server/tests/utils/ioc.test.ts
Owners: @BrianCLong

feat: add entity resolution microservice
  services/er/__init__.py
  services/er/main.py
  services/er/requirements.txt
  services/er/tests/golden.json
  services/er/tests/test_er_service.py
Owners: @BrianCLong

feat: add entity resolution microservice
  services/er/__init__.py
  services/er/main.py
  services/er/requirements.txt
  services/er/tests/golden.json
  services/er/tests/test_er_service.py
Owners: @BrianCLong

feat: scaffold bitemporal time services
  docs/bitemporal-time-machine.md
  services/sim/__init__.py
  services/sim/runner.py
  services/time/diff.ts
  services/time/index.ts
  services/time/interval.test.ts
  services/time/interval.ts
Owners: @BrianCLong

feat: scaffold bitemporal time services
  docs/bitemporal-time-machine.md
  services/sim/__init__.py
  services/sim/runner.py
  services/time/diff.ts
  services/time/index.ts
  services/time/interval.test.ts
  services/time/interval.ts
Owners: @BrianCLong

refactor: attach obligations and drop gateway lockfile
  .gitignore
  gateway/.eslintrc.cjs
  gateway/docs/gateway.md
  gateway/jest.config.cjs
  gateway/ops/owners.yaml
  gateway/ops/persisted.json
  gateway/package.json
  gateway/src/cache.ts
  gateway/src/context.ts
  gateway/src/index.ts
  gateway/src/plugins/abac.ts
  gateway/src/plugins/depthCost.ts
  gateway/src/plugins/persisted.ts
  gateway/src/plugins/redactLogs.ts
  gateway/src/services/opa.ts
  gateway/supergraph/compose.mjs
  gateway/supergraph/compose.yaml
  gateway/supergraph/supergraph.graphql
  gateway/test/abac.test.ts
  gateway/test/complexity.test.ts
  gateway/test/contract.test.ts
  gateway/test/nplus1.test.ts
  gateway/tsconfig.json
Owners: @BrianCLong

refactor: attach obligations and drop gateway lockfile
  .gitignore
  gateway/.eslintrc.cjs
  gateway/docs/gateway.md
  gateway/jest.config.cjs
  gateway/ops/owners.yaml
  gateway/ops/persisted.json
  gateway/package.json
  gateway/src/cache.ts
  gateway/src/context.ts
  gateway/src/index.ts
  gateway/src/plugins/abac.ts
  gateway/src/plugins/depthCost.ts
  gateway/src/plugins/persisted.ts
  gateway/src/plugins/redactLogs.ts
  gateway/src/services/opa.ts
  gateway/supergraph/compose.mjs
  gateway/supergraph/compose.yaml
  gateway/supergraph/supergraph.graphql
  gateway/test/abac.test.ts
  gateway/test/complexity.test.ts
  gateway/test/contract.test.ts
  gateway/test/nplus1.test.ts
  gateway/tsconfig.json
Owners: @BrianCLong

feat: add deny-by-default OPA policy
  PHASE4_CONTROL_BOARD.md
  policy/opa/authz.rego
Owners: @BrianCLong

feat: add deny-by-default OPA policy
  PHASE4_CONTROL_BOARD.md
  policy/opa/authz.rego
Owners: @BrianCLong

feat: add minimal copilot service skeleton
  docs/copilot.md
  jest.config.cjs
  services/copilot/src/index.js
  services/copilot/src/index.test.ts
Owners: @BrianCLong

docs: add core GA cutover advisory report
  docs/project_management/core-ga-cutover-advisory-report.md
Owners: none

docs: add core GA cutover advisory report
  docs/project_management/core-ga-cutover-advisory-report.md
Owners: none

feat: add common types and policy packages
  packages/common-types/jest.config.cjs
  packages/common-types/package.json
  packages/common-types/schemas/edge.schema.json
  packages/common-types/schemas/entity.schema.json
  packages/common-types/schemas/envelope.schema.json
  packages/common-types/schemas/watch-rule.schema.json
  packages/common-types/src/edges.ts
  packages/common-types/src/entities.ts
  packages/common-types/src/envelope.test.ts
  packages/common-types/src/envelope.ts
  packages/common-types/src/index.ts
  packages/common-types/src/watch-rule.ts
  packages/common-types/tsconfig.json
  packages/policy/jest.config.cjs
  packages/policy/package.json
  packages/policy/sql/rls_policies.sql
  packages/policy/src/abac.test.ts
  packages/policy/src/abac.ts
  packages/policy/src/index.ts
  packages/policy/tsconfig.json
Owners: @BrianCLong

feat: add GraphSAGE training utilities
  docs/gnn_methodology.md
  packages/gml/__init__.py
  packages/gml/models/sage.py
  packages/gml/tasks/link_pred.py
  packages/gml/tasks/node_cls.py
  packages/gml/tests/test_sage.py
Owners: @BrianCLong

feat: add GraphSAGE training utilities
  docs/gnn_methodology.md
  packages/gml/__init__.py
  packages/gml/models/sage.py
  packages/gml/tasks/link_pred.py
  packages/gml/tasks/node_cls.py
  packages/gml/tests/test_sage.py
Owners: @BrianCLong

feat(detect): add basic rule validation utility
  jest.config.cjs
  services/detect/src/rule-schema.json
  services/detect/src/ruleValidator.js
  services/detect/src/ruleValidator.test.js
Owners: @BrianCLong

feat(detect): add basic rule validation utility
  jest.config.cjs
  services/detect/src/rule-schema.json
  services/detect/src/ruleValidator.js
  services/detect/src/ruleValidator.test.js
Owners: @BrianCLong

feat: add geo hotspot service
  README.md
  docs/hotspots.md
  packages/geo/pyproject.toml
  packages/geo/src/__init__.py
  packages/geo/src/main.py
  packages/geo/src/pipeline/__init__.py
  packages/geo/src/pipeline/hotspots.py
  packages/geo/tests/test_hotspots.py
Owners: @BrianCLong

feat: add geo hotspot service
  README.md
  docs/hotspots.md
  packages/geo/pyproject.toml
  packages/geo/src/__init__.py
  packages/geo/src/main.py
  packages/geo/src/pipeline/__init__.py
  packages/geo/src/pipeline/hotspots.py
  packages/geo/tests/test_hotspots.py
Owners: @BrianCLong

docs: add streaming detectors playbooks implementation plan
  docs/realtime/streaming-detectors-playbooks-plan.md
Owners: none

docs: add streaming detectors playbooks implementation plan
  docs/realtime/streaming-detectors-playbooks-plan.md
Owners: none

feat(common-types): add canonical schemas
  packages/common-types/package.json
  packages/common-types/schemas/connector.json
  packages/common-types/schemas/edge.json
  packages/common-types/schemas/entity.json
  packages/common-types/schemas/envelope.json
  packages/common-types/schemas/run.json
  packages/common-types/schemas/secret.json
  packages/common-types/scripts/generateSchemas.js
  packages/common-types/src/envelope.test.ts
  packages/common-types/src/index.ts
  packages/common-types/src/types.ts
  packages/common-types/tsconfig.json
  tsconfig.base.json
Owners: @BrianCLong

docs: add narrative studio brief builder spec
  docs/narrative-studio.md
Owners: none

docs: add narrative studio brief builder spec
  docs/narrative-studio.md
Owners: none

chore: remove package-lock files
  archive/frontend-migration/web/package-lock.json
  client/cypress.config.ts
  client/cypress/e2e/link-analysis.cy.ts
  client/index.html
  client/package.json
  client/src/App.link-analysis.tsx
  client/src/features/link-analysis/CommandPalette.tsx
  client/src/features/link-analysis/ExplainPanel.tsx
  client/src/features/link-analysis/GraphPane.tsx
  client/src/features/link-analysis/LinkAnalysisCanvas.stories.tsx
  client/src/features/link-analysis/LinkAnalysisCanvas.tsx
  client/src/features/link-analysis/MapPane.tsx
  client/src/features/link-analysis/TimelinePane.tsx
  client/src/features/link-analysis/index.ts
  client/src/features/link-analysis/store.ts
  client/src/main.link-analysis.tsx
  package-lock.json
Owners: @BrianCLong

chore: remove package lock files
  archive/frontend-migration/web/package-lock.json
  docs/prov-ledger.md
  package-lock.json
  prov-ledger-service/.gitignore
  prov-ledger-service/eslint.config.js
  prov-ledger-service/jest.config.cjs
  prov-ledger-service/package.json
  prov-ledger-service/src/cli.ts
  prov-ledger-service/src/ledger.ts
  prov-ledger-service/src/server.ts
  prov-ledger-service/tests/ledger.test.ts
  prov-ledger-service/tsconfig.json
Owners: @BrianCLong

chore: remove package lock files
  archive/frontend-migration/web/package-lock.json
  docs/prov-ledger.md
  package-lock.json
  prov-ledger-service/.gitignore
  prov-ledger-service/eslint.config.js
  prov-ledger-service/jest.config.cjs
  prov-ledger-service/package.json
  prov-ledger-service/src/cli.ts
  prov-ledger-service/src/ledger.ts
  prov-ledger-service/src/server.ts
  prov-ledger-service/tests/ledger.test.ts
  prov-ledger-service/tsconfig.json
Owners: @BrianCLong

chore: remove package-lock files
  .gitattributes
  .gitignore
  archive/frontend-migration/web/package-lock.json
  docs/analytics_methodology.md
  docs/api.graphql.md
  docs/architecture.md
  docs/explainability.md
  docs/insight_playbooks.md
  docs/operations.md
  docs/security.md
  infra/.env.example
  infra/docker-compose.yml
  infra/helm/analytics/Chart.yaml
  infra/helm/gateway/Chart.yaml
  infra/helm/neo4j/Chart.yaml
  infra/helm/postgres/Chart.yaml
  infra/helm/redis/Chart.yaml
  infra/helm/web/Chart.yaml
  notebooks/insight_exploration.py
  package-lock.json
  packages/prov-ledger/__tests__/ledger.test.ts
  packages/prov-ledger/jest.config.cjs
  packages/prov-ledger/package.json
  packages/prov-ledger/src/index.ts
  packages/prov-ledger/tsconfig.json
  scripts/dev-seed.ts
Owners: @BrianCLong

chore: remove package-lock files
  .gitattributes
  .gitignore
  archive/frontend-migration/web/package-lock.json
  docs/analytics_methodology.md
  docs/api.graphql.md
  docs/architecture.md
  docs/explainability.md
  docs/insight_playbooks.md
  docs/operations.md
  docs/security.md
  infra/.env.example
  infra/docker-compose.yml
  infra/helm/analytics/Chart.yaml
  infra/helm/gateway/Chart.yaml
  infra/helm/neo4j/Chart.yaml
  infra/helm/postgres/Chart.yaml
  infra/helm/redis/Chart.yaml
  infra/helm/web/Chart.yaml
  notebooks/insight_exploration.py
  package-lock.json
  packages/prov-ledger/__tests__/ledger.test.ts
  packages/prov-ledger/jest.config.cjs
  packages/prov-ledger/package.json
  packages/prov-ledger/src/index.ts
  packages/prov-ledger/tsconfig.json
  scripts/dev-seed.ts
Owners: @BrianCLong
